
    <div *ngIf="currentPath.includes('master-debtors')" >
      <app-master-debtors></app-master-debtors>
    </div>      
    <div *ngIf="currentPath.includes('members')">
        <app-members></app-members>
    </div>
    <div *ngIf="currentPath.includes('clients')">
        <app-clients></app-clients>
    </div>
    <div *ngIf="currentPath.includes('invoices')">
        <app-clients-invoices></app-clients-invoices>
    </div>
    <div *ngIf="currentPath.includes('risk')">
        <app-master-clients></app-master-clients>
    </div>
    <div *ngIf="currentPath.includes('page')">
        <app-invoices></app-invoices>
    </div>
  