.main-content-container {
    background: #ffffff;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    margin: 5px;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 830px;
   } 
   