
    <div *ngIf="currentPath.includes('master-debtors')" >
      <app-master-debtors></app-master-debtors>
    </div>      
    <div *ngIf="currentPath.includes('edit-master-debtor')" >
      <app-master-debtor-edit></app-master-debtor-edit>
    </div>      
    <div *ngIf="currentPath.includes('members')">
        <app-members></app-members>
    </div>
    <div *ngIf="currentPath.includes('clients')">
        <app-clients></app-clients>
    </div>
    <div *ngIf="currentPath.includes('invoices')">
        <app-clients-invoices></app-clients-invoices>
    </div>
    <div *ngIf="currentPath.includes('risk-client')">
        <app-master-clients></app-master-clients>
    </div>
    <div *ngIf="currentPath.includes('member-client')">
        <app-member-clients></app-member-clients>
    </div>
    <div *ngIf="currentPath.includes('page')">
        <app-invoices></app-invoices>
    </div>
    <div *ngIf="currentPath.includes('client-debtor')">
        <app-clients-debtors></app-clients-debtors>
    </div>
    <div *ngIf="currentPath.includes('memberMasterdebtor')">
        <app-member-master-debtor></app-member-master-debtor>
    </div>
    <div *ngIf="currentPath.includes('detail')">
        <app-risk-monitoring-detail></app-risk-monitoring-detail>
    </div>
    <div *ngIf="currentPath.includes('monitoring')">
        <app-risk-monitoring></app-risk-monitoring>
    </div>
    <div *ngIf="currentPath.includes('ticketing')">
        <app-ticketing></app-ticketing>
    </div>
    <div *ngIf="currentPath.includes('test')">
        <app-test></app-test>
    </div>
  