
<div class="example-container mat-elevation-z8" tabindex="0">                            
    
    <div class="main-table-container">    
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">
        
        <ng-container matColumnDef="Debtor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Debtors</th>
                <td mat-cell *matCellDef="let element">{{ element.Debtor }}</td>
        </ng-container>

        <ng-container matColumnDef="Balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Total AR</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Balance | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="%Utilized">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">% Utilized</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{  element.PctUtilized | percent: '1.0-0' }}</td>
        </ng-container>

        <ng-container matColumnDef="PastDue%">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Past Due%</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.PastDuePct | percent: '1.0-0' }}</td>
        </ng-container>

        <ng-container matColumnDef="DSO">
           <th mat-header-cell *matHeaderCellDef  mat-sort-header arrowPosition="before">DSO</th>
           <td mat-cell *matCellDef="let element" style="text-align: end;">
               <mat-icon [ngStyle]="{'color': getIcon(element).color}">{{ getIcon(element).icon }}</mat-icon>
           </td>
        </ng-container>

        <ng-container matColumnDef="Terms">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Terms</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Terms }}</td>
        </ng-container>

        <ng-container matColumnDef="CalcRateCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Rating</th>
            <td mat-cell *matCellDef="let element" style="text-align: end; color: #3a8ada;" (click)="openDSODialog(element.DSO30, element.DSO60, element.DSO90, element.Debtor)">{{ element.CalcRateCode }}</td>
        </ng-container>        

        <ng-container matColumnDef="RateDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Research Date</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.RateDate | date:'yyyy-MM-dd' }}</td>
        </ng-container>

        <ng-container matColumnDef="CredExpireMonth">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Expiry Month</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.CredExpireDate | date:'yyyy-MM-dd' }}</td>
        </ng-container>

        <ng-container matColumnDef="CredExpireDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Expiry Date</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;"></td>
        </ng-container>

        <ng-container matColumnDef="extra">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="text-align: end; color: white">...</td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <span (click)="toggleRow(element)">                        
                        <mat-icon style="height: 20px; width: 20px; font-size: 20px;">{{ isExpanded(element) ? 'remove' : 'add' }}</mat-icon>
                    </span>
                </td>
        </ng-container>

            <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                      
                </td>      
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" id="detail-row" class="detail-row"></tr>
        </table>
    </div>   
</div>