<header class="app-header">
    <img src="assets/images/Everest.jpg" alt="Logo" class="logo">
    
    <nav class="profile-menu">
        <nav class="nav-menu">
            <ul>                                
                <li><a routerLink="master-debtors" *ngIf="isUserLoggedIn">Master Debtors</a></li>
                <li><a routerLink="/about" *ngIf="isUserLoggedIn">Client Risk Page</a></li>
                <li><a routerLink="/services" *ngIf="isUserLoggedIn">Invoices</a></li> 
                <button mat-raised-button *ngIf="!isUserLoggedIn" (click)="login()">Login</button>              
                <button mat-raised-button *ngIf="isUserLoggedIn" (click)="logout()">Logout</button>                                        
            </ul>
        </nav>    
    </nav>
</header>