<header class="app-header">
    <img src="assets/images/Everest-Logo.png" alt="Logo" class="logo">    
    <nav class="nav-menu">
        <ul>                                                
            <li><button mat-raised-button *ngIf="!isUserLoggedIn" (click)="login()">Login</button></li>              
            <li>
                <img *ngIf="isUserLoggedIn" (click)="logout()" style="height: 40px; width: 40px; cursor: pointer;" src="assets/images/gear.png" alt="Logo" class="logo">
            </li>
            <li>                                        
                <img *ngIf="isUserLoggedIn" (click)="logout()" style="height: 40px; width: 40px; cursor: pointer;" src="assets/images/logout.png" alt="Logo" class="logo">
            </li>                                        
        </ul>
    </nav>        
</header>