<header class="app-header">
    <img src="assets/images/Everest-Logo.png" alt="Logo" class="logo">    
    <nav class="nav-menu">
        <ul>                                                
            <li><button mat-raised-button *ngIf="!isUserLoggedIn" (click)="login()">Login</button></li>              
            <li>
                <img *ngIf="isUserLoggedIn" (click)="logout()" style="height: 40px; width: 40px; cursor: pointer;" src="assets/images/gear.png" alt="Settings" class="logo">
            </li>
            <li>                                        
                <img *ngIf="isUserLoggedIn" (click)="logout()" style="height: 40px; width: 40px; cursor: pointer;" src="assets/images/logout.png" alt="Logout" class="logo">
            </li>                                        
        </ul>
    </nav>        
</header>
<div class="container-fluid ml-4" style="width: 99%; cursor: pointer;" *ngIf="isUserLoggedIn">
    <div class="nav-container">
        <ul class="nav nav-tabs justify-content-end" style="border: 0;">
            <li class="nav-item" style="padding-top: 0px;">
                <b>Rate: </b> {{ this.todayRate }} ({{ this.todayCurrency }}, {{ this.todayDate }}) 
                <button mat-icon-button (click)="moreInfo()" style="color: #1473d1; font-size: 16px"><i class="fa fa-info-circle"></i></button>                         &nbsp; 
            </li>
            <li class="nav-item" *ngIf="this.NavOptionMasterDebtor == 'Master Debtor' && this.NavAccessMasterDebtor == 1" style="border-top-left-radius: 10px; background-color: #e5e5e5;">            
                <a class="nav-link" style="color: #808183" data-toggle="tab"  routerLink="/master-debtors" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }" >Master Debtors</a>
            </li>
            <li class="nav-item" *ngIf="this.NavOptionClientRisk == 'Client Risk Page' && this.NavAccessClientRisk == 1" style="background-color: #e5e5e5;">
                <a class="nav-link" style="color: #808183" data-toggle="tab" routerLink="/risk-client" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">Client Risk</a>
            </li>
            <li class="nav-item" *ngIf="this.NavOptionRiskMonitoring == 'Risk Monitoring' && this.NavAccessRiskMonitoring == 1" style="background-color: #e5e5e5;">
                <a class="nav-link" style="color: #808183" data-toggle="tab" routerLink="/monitoring" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">Risk Monitoring</a>
            </li>
            <li class="nav-item" style="border-top-right-radius: 10px; background-color: #e5e5e5;">
                <a class="nav-link" style="color: #808183" data-toggle="tab" routerLink="/page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">Invoices</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid w-100 shadow p-2" style="height: 820px; background-color: white; border-top-left-radius: 5px; border-top-right-radius: 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">    
        <app-main-content></app-main-content>
    </div>
</div>