<div class="example-container mat-elevation-z8" tabindex="0">                        
    <div class="page-header">
        <div>
            <p></p>
            <br>         
        </div>
        <div>
            <label for="group_level"><b>Group Level </b>&nbsp;</label>
            <select class="dropdown" id="group_level" (change)="onChangeGroup($event)" aria-placeholder="Select Group">
                <option value="%" style="color: gray;">Select Group</option>
                <option *ngFor="let group of clientGroupLevelList" [value]="group.GroupValue">{{ group.GroupValue }}</option>
            </select>
            <label>&nbsp;
                <input type="radio" name="filterByBalance" value="Show All" (change)="onChange($event)" [attr.checked]="true">&nbsp; <b>Show All</b>
              </label>&nbsp;
              <label>
                <input type="radio" name="filterByBalance" value="Balance" (change)="onChange($event)"> &nbsp;<b>Balance</b> 
              </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <b style="font-family: Arial, Helvetica, sans-serif;">Search:</b>
            &nbsp;&nbsp;
            <input (keyup.enter)="applyFilter($event)" class="search-bar">
        </div>
    </div>       
    
    <div class="table-container">    
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">
        
        <ng-container matColumnDef="Client">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Client Name</th>            
            <td mat-cell *matCellDef="let element" title="{{ element.Client }}">
                <div *ngIf="getDilutionIcon(element) == 'red' || getIneligibleIcon(element) == 'red' || getAvailableIcon(element) == 'red'; else elseBlock1">
                    <div *ngIf="getFinalColor(element) == 'DilutionRed'" (click)="showAccountStatusDetail(element)">
                        <i class="fa fa-circle" style="color: red; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                    </div>
                    <div *ngIf="getFinalColor(element) == 'IneligibleRed'" (click)="showAccountStatusDetail(element)">
                        <i class="fa fa-circle" style="color: red; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                    </div>
                    <div *ngIf="getFinalColor(element) == 'AvailableRed'" (click)="showAccountStatusDetail(element)">
                        <i class="fa fa-circle" style="color: red; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                    </div>
                </div> 
                <ng-template #elseBlock1>
                    <div *ngIf="getDilutionIcon(element) == 'yellow' || getIneligibleIcon(element) == 'yellow' || getAvailableIcon(element) == 'yellow'; else elseBlock2">
                        <div *ngIf="getFinalColor(element) == 'DilutionYellow'" (click)="showAccountStatusDetail(element)">
                            <i class="fa fa-circle" style="color: orange; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                        </div>
                        <div *ngIf="getFinalColor(element) == 'IneligibleYellow'" (click)="showAccountStatusDetail(element)">
                            <i class="fa fa-circle" style="color: orange; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                        </div>
                        <div *ngIf="getFinalColor(element) == 'AvailableYellow'" (click)="showAccountStatusDetail(element)">
                            <i class="fa fa-circle" style="color: orange; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                        </div>
                    </div>
                </ng-template>
                <ng-template #elseBlock2>
                    <div *ngIf="getDilutionIcon(element) == 'green' || getIneligibleIcon(element) == 'green' || getAvailableIcon(element) == 'green'; else elseBlock2">
                        <div *ngIf="getFinalColor(element) == 'DilutionGreen'" (click)="showAccountStatusDetail(element)">
                            <i class="fa fa-circle" style="color: green; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                        </div>
                        <div *ngIf="getFinalColor(element) == 'IneligibleGreen'" (click)="showAccountStatusDetail(element)">
                            <i class="fa fa-circle" style="color: green; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                        </div>
                        <div *ngIf="getFinalColor(element) == 'AvailableGreen'" (click)="showAccountStatusDetail(element)">
                            <i class="fa fa-circle" style="color: green; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                        </div>
                    </div>
                </ng-template>
                     

                <!-- <div *ngIf="getDilutionIcon(element) == 'green' && getIneligibleIcon(element) == 'green' && getAvailableIcon(element) == 'green'" >
                    <i class="fa fa-circle" style="color: green; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                </div>                
                 <div *ngIf="getDilutionIcon(element) == 'green' && getIneligibleIcon(element) == 'green' && getAvailableIcon(element) == 'orange'" >
                    <i class="fa fa-circle" style="color: orange; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                </div>                
                <div *ngIf="getDilutionIcon(element) == 'green' && getIneligibleIcon(element) == 'green' && getAvailableIcon(element) == 'red'" >
                    <i class="fa fa-circle" style="color: red; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Client }}
                </div> -->               
            </td>
        </ng-container>

        <ng-container matColumnDef="Age0to30">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">1 - 30</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Age0to30 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Age31to60">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">31 - 60</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Age31to60 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Age61to90">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">61 - 90</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Age61to90 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Age91to120">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">91 - 120</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Age91to120 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Age121to150">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">121 +</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Age121to150 | roundThousands }}</td>
        </ng-container>        
        
        <ng-container matColumnDef="Ineligible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Ineligible</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Ineligible | roundThousands }}</td>
        </ng-container>        
        
        <ng-container matColumnDef="Balance" style="text-align: end;"> 
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Balance</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Balance | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Reserve">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Reserve</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Reserve | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="NFE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">NFE</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.NFE | roundThousands  }}</td>
        </ng-container>

        <ng-container matColumnDef="extra">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="text-align: end; color: white">..</td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef class="expand-column"></th>
                <td mat-cell *matCellDef="let element" class="expand-column">
                    <button mat-icon-button (click)="toggleRow(element)">
                        <mat-icon>{{ isExpanded(element) ? 'remove' : 'add' }}</mat-icon>
                    </button>
                </td>
        </ng-container>      
    
            <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>    
            
           <!--<ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">            
                    <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">                                
                        
                        <app-members [DebtorKey]="element.DebtorKey"></app-members>                   
                    </div>                                      
                </td>            
            </ng-container>--> 
                            
             <ng-container matColumnDef="expandedDetail" style="position: sticky;" >
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" style="padding-left: 3.5%;">  
                    <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">                                
                        <app-member-clients [MasterClientKey]="element.ClientKey"></app-member-clients>                   
                    </div>                                                                
                </td>                            
            </ng-container>  
                        

            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" id="detail-row" class="detail-row"></tr>            
        </table>
    </div>
    
    <mat-paginator [length]="totalRecords" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25" showFirstLastButtons style="background-color: white;"></mat-paginator>
    <!-- <mat-form-field> 
        <mat-label>Go to page</mat-label> 
            <input matInput [(ngModel)]="specificPage" type="number" min="1" [max]="totalPages"> 
    </mat-form-field> 
    <button mat-raised-button (click)="goToPage()">Go</button> -->

    <div class="spinner-container" *ngIf="isLoading;">
        <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
</div>