.mat-mdc-form-field {
    font-size: 10px;
    width: 100%;
  }
  
  .table-container {
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;  
    max-height: 1000px;
    overflow-y: auto;
    background-color: #fafbfb;
  }   
  
  .main-table-container {
    
    border-radius: 5px;  
    max-height: 630px;
    overflow-y: auto;
    background-color: #a40000;
    
  }   
  
  .example-container {
    overflow: auto;
  }
  
  .element-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1%;
    font-size: 13px;
  }
  
  .detail-row .mat-mdc-cell {
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid transparent;
    padding-left: 4%;
    font-size: 13px;
  }
  
  .element-row {
    border: 0;
    height: 42px;
  }
  
  .detail-row {
  height: 0;
  }
  .detail-row .example-element-detail {
  padding: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  }
  
  .custom-spinner ::ng-deep .mat-spinner circle, .mat-progress-spinner circle {
  stroke: #b3e5fc; /* Change this to your desired color */
  }
  .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Adjust based on your table height */
  background-color: #f5f5f5; /* Soft background color */
  }
  
  .bordered-table {
   
   width: 100%;
   
   border-collapse: collapse;
   
  }
  
  .bordered-table th, .bordered-table td {
  
  border: 0;
  
  padding: 3px;
  
  }

  .bordered-table-dilution {
   
   width: 60%;
   
   border-collapse: collapse;
   
  }
  
  .bordered-table-dilution th, .bordered-table-dilution td {
  
  border: 1px solid black;
  
  padding: 3px;
  
  }
  .bordered-table-terms {
   
   width: 80%;
   
   border-collapse: collapse;
   
  }
  
  .bordered-table-terms th, .bordered-table-terms td {
  
  border: 1px solid black;
  
  padding: 3px;
  
  }
  
  
  .table-row .cell {
  border-bottom: 1px solid #dee2e6;
  }
  
  .page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 20px;
  color: rgb(24, 24, 65);
  }
  
  .search-bar {
  width: 300px;  
  border: 1px solid #dee2e6;
  border-radius: 2px;
  }
  
  .mat-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fafbfb;
  font-family: Arial, Helvetica, sans-serif;
  color: #58595B;
  font-weight: bolder;  
  }
  
  .mat-mdc-header-cell {
  border-bottom: 1px solid #dee2e6;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.1%;
  }

  .mat-mdc-header-cell.debtor-column, .mat-mdc-cell.debtor-column {
    width: 150px !important; 
    min-width: 150px !important;
    max-width: 150px !important;
} 
  .mat-table {
  background-color: #f9f9f9;  
  border-collapse: collapse;
  }
  
  .nav-link .active {
  color: black;
  font-weight: bold;
  }
  
  .no-data-cell{
    text-align: center;
    color: #58595B;
    padding: 16px;
    font-size: 16px;
    background-color:  #fafbfb;
  }

  .custom-dialog-container .mat-dialog-container {
    display: block;
    width: auto;
    max-width: none;  
    padding: 10px;   
   }