<div class="example-container mat-elevation-z8" tabindex="0">                        
    <!-- <div class="page-header">
        <div>
            <p><b style="color: gray;">Member Client: </b> <b></b></p>
        </div>
        <div>
            <b style="font-family: Arial, Helvetica, sans-serif;">Search:</b>
            &nbsp;&nbsp;
            <input (keyup.enter)="applyFilter($event)" class="search-bar">
        </div>
    </div>   -->    
    
    <div class="main-table-container">    
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">
        
        <ng-container matColumnDef="Debtor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="debtor-column">Debtor Name</th>
            <td mat-cell *matCellDef="let element" title="{{ element.Debtor }}" class="debtor-column">{{ element.Debtor }}</td>
        </ng-container>
        <ng-container matColumnDef="Currency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Currency</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.Currencytype }}</td>
        </ng-container>
        <ng-container matColumnDef="Balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Balance</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.Balance | roundThousands }}</td>
        </ng-container>
        <ng-container matColumnDef="DebtorLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Debtor Limit</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.CreditLimit | roundThousands }}</td>
        </ng-container>
        <ng-container matColumnDef="RelationshipLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Relationship Limit</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.RelationShipLimit | roundThousands }}</td>
        </ng-container>
        <ng-container matColumnDef="Concentration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Concentration</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;" title="{{ element.Concentration }}">{{ element.Concentration | percent: '1.0-2' }}</td>
        </ng-container>
        <ng-container matColumnDef="AIG Coverage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">AIG Coverage</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.AIGLimit | roundThousands }}</td>
        </ng-container>
        <ng-container matColumnDef="Dilution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Dilution %</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;" title="{{ element.DilutionPct }}">{{ element.DilutionPct | percent: '1.0-0' }}</td>
        </ng-container>  
        <ng-container matColumnDef="Ineligible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Ineligible %</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;" title="{{ element.Ineligible }}">{{ element.Ineligible | percent: '1.0-0' }}</td>
        </ng-container>
        <ng-container matColumnDef="Term">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Term</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.Terms | roundThousands }}</td>
        </ng-container>
        <ng-container matColumnDef="NOA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">NOA</th>
            <td mat-cell *matCellDef="let element" style=" text-align: right;" (click)="noa(element.DebtorKey)" title="{{ element.NOA }}">
                <div>
                    <span style="color: orange;" *ngIf="element.NOA == 'Sent'">{{ element.NOA }}</span>
                </div>                
                <div>
                    <span style="color: red;" *ngIf="element.NOA == 'Not Sent'">{{ element.NOA }}</span>
                </div>                
                <div>
                    <span style="color: green;" *ngIf="element.NOA == 'Received'">{{ element.NOA }}</span>
                </div>                
            </td>            
        </ng-container>
        <ng-container matColumnDef="%% Verified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">% Verified</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.Approved | roundThousands }}</td>
        </ng-container>
        <ng-container matColumnDef="Payments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Payments</th>
            <td mat-cell *matCellDef="let element" (click)="payments(element.DebtorKey, element.Debtor)" style="color: #1473d1; text-align: right; "><i class="fa fa-money-check" style="color: #3a8ada;"></i></td>
        </ng-container>
        <ng-container matColumnDef="extra">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="text-align: end; color: white;">...</td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef class="expand-column"></th>
                <td mat-cell *matCellDef="let element" class="expand-column">
                    <span (click)="toggleRow(element)">                        
                        <mat-icon style="height: 20px; width: 20px; font-size: 20px;">{{ isExpanded(element) ? 'remove' : 'add' }}</mat-icon>
                    </span>
                </td>
        </ng-container>

            <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">            
                    <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">                                
                        <div class="table-container" style="background-color: #ffffff;"> 
                            <app-member-master-debtor [DebtorKey]="element.DebtorKey" [MasterClientKey]="MasterClientKey"></app-member-master-debtor>                                                                              
                        </div>                    
                    </div>                                      
                </td>            
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" id="detail-row" class="detail-row"></tr>
        </table>
    </div>
</div>
<div *ngIf="dataSource.data.length === 0">
<p class="no-data-cell"><b>No data Found</b></p>
</div>