<div class="example-container mat-elevation-z8" tabindex="0">                        
    <!-- <div class="page-header">
        <div>
            <p><b style="color: gray;">Member Client: </b> <b></b></p>
        </div>
        <div>
            <b style="font-family: Arial, Helvetica, sans-serif;">Search:</b>
            &nbsp;&nbsp;
            <input (keyup.enter)="applyFilter($event)" class="search-bar">
        </div>
    </div>   -->    
    
    <div class="main-table-container">    
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">
        
        <ng-container matColumnDef="Debtor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Debtor Name</th>
            <td mat-cell *matCellDef="let element">{{ element.Debtor }}</td>
        </ng-container>
        <ng-container matColumnDef="Currency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
            <td mat-cell *matCellDef="let element">{{ element.Currencytype }}</td>
        </ng-container>
        <ng-container matColumnDef="Balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
            <td mat-cell *matCellDef="let element">{{ element.Balance | roundThousands }}</td>
        </ng-container>
        <ng-container matColumnDef="CreditLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreditLimit</th>
            <td mat-cell *matCellDef="let element">{{ element.CreditLimit | roundThousands }}</td>
        </ng-container>
        <ng-container matColumnDef="AIG Coverage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AIG Coverage</th>
            <td mat-cell *matCellDef="let element">{{ element.AIGLimit | roundThousands }}</td>
        </ng-container>
        <ng-container matColumnDef="Utilization of AIG Coverage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Utilization of AIG Coverage</th>
            <td mat-cell *matCellDef="let element">{{ element.PctUtilized | percent }}</td>
        </ng-container>
        <ng-container matColumnDef="NOA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NOA</th>
            <td mat-cell *matCellDef="let element">{{ element.NOA }}</td>
        </ng-container>
        <ng-container matColumnDef="%% Verified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>%% Verified</th>
            <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="Payments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payments</th>
            <td mat-cell *matCellDef="let element" (click)="payments(element.DebtorKey)" style="color: #1473d1;">Payments</td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="toggleRow(element)">
                        <mat-icon>{{ isExpanded(element) ? 'remove' : 'add' }}</mat-icon>
                    </button>
                </td>
        </ng-container>

            <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">            
                    <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">                                
                        <div class="table-container" style="background-color: #f5fbff;">                            
                            <table class="bordered-table">
                                <tr>
                                    <th>Master Debtor</th>
                                    <th>Duns</th>
                                    <th>Currency</th>
                                    <th>Balance</th>
                                    <th>CreditLimit</th>
                                    <th>AIG Coverage</th>
                                    <th>Utilization of AIG Coverage</th>
                                    <th>NOA</th>
                                    <th>%% Verified</th>
                                    <th>Payments</th>
                                </tr>
                                <tr>
                                    <td>ABCOR FILTERS INC.</td>
                                    <td>453,545</td>
                                    <td>CAD</td>
                                    <td>219,372</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>No Sent</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>   <br>                         
                            <table class="bordered-table-dilution" align="center">
                                <tr>
                                    <th>Dilution</th>
                                    <th>30</th>
                                    <th>60</th>
                                    <th>90</th>
                                    <th>All</th>                                    
                                </tr>
                                <tr>
                                    <td>Clients</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>                                    
                                    <td></td>                                    
                                </tr>
                                <tr>
                                    <td>All Clients</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>                                    
                                    <td></td>                                    
                                </tr>
                            </table>                            
                            <br>                         
                            <table class="bordered-table-terms" align="center">
                                <tr>
                                    <th>Terms</th>
                                    <th>1-30</th>
                                    <th>31-60</th>
                                    <th>61-90</th>
                                    <th>91-120</th>
                                    <th>121-up</th>                                    
                                    <th>Portal</th>                                    
                                    <th>Documents</th>                                    
                                </tr>
                                <tr>
                                    <td>120</td>
                                    <td>565,444</td>
                                    <td>454,877</td>
                                    <td>854,457</td>                                    
                                    <td></td>                                    
                                    <td></td>                                    
                                    <td></td>                                    
                                    <td></td>                                    
                                </tr>                                
                            </table>                            
                        </div>                    
                    </div>                                      
                </td>            
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" id="detail-row" class="detail-row"></tr>
        </table>
    </div>
</div>
<div *ngIf="dataSource.data.length === 0">
<p class="no-data-cell"><b>No data Found</b></p>
</div>