<div class="example-container mat-elevation-z8" tabindex="0">                        
    <div class="page-header">        
        <div *ngFor="let option of statusListOptions">
            <input type="checkbox" [value]="option.value" (change)="onCheckboxChange($event)" [checked]="isChecked(option.value)">
            {{ option.label }}
        </div>
        <div>              
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="request_date"><b>Request Date </b></label>
            &nbsp;&nbsp;&nbsp;<input class="dropdown" type="date" (change)="onChangeRequestDate($event)" value="{{ requestDate }}" name="" id="request_date">
        </div>                            
        <div>
            <button disabled={{true}} style="font-size: 12px; background-color: #383b91; border: 1px solid #383b91; color: rgb(255, 255, 255);" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-success': true}" (click)="addNew()">
                Add New
            </button>
        </div>
        <div>
            <button mat-icon-button (click)="exporter.exportTable('csv', {fileName: 'exported-data'})">
                <mat-icon>file_download</mat-icon>
            </button>
        </div>
    </div>
    <div class="table-container">
  
        <table mat-table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter" matSort multiTemplateDataRows class="mat-table">

            <ng-container matColumnDef="RequestNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Request#</th>            
                <td mat-cell *matCellDef="let element">                
                    {{ element.RequestNo }}
                </td>
            </ng-container>
        
            <ng-container matColumnDef="Debtor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Debtor</th>
                <td mat-cell *matCellDef="let element" class="truncate" title="{{ element.Debtor }}">{{ element.Debtor }}</td>
            </ng-container> 

            <ng-container matColumnDef="Client">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
                <td mat-cell *matCellDef="let element"  class="truncate" title="{{ element.Client }}">{{ element.Client }}</td>
            </ng-container>
            
            <ng-container matColumnDef="TotalCreditLimit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">CreditLimit</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;">                
                    {{ element.TotalCreditLimit | roundThousands }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Status</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;">                
                    {{ element.Status }}
                </td>
            </ng-container>

            <ng-container matColumnDef="IndivCreditLimit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before" matTooltip="Single credit limit" [matTooltipPositionAtOrigin]="true">S.C. Limit</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;">                
                    {{ element.IndivCreditLimit | roundThousands }}
                </td>
            </ng-container>

            <ng-container matColumnDef="RequestAmt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before" matTooltip="Amount Requested" [matTooltipPositionAtOrigin]="true">A.R.</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;">                
                    {{ element.RequestAmt | roundThousands }}
                </td>
            </ng-container>

            <ng-container matColumnDef="RequestUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">User</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;">                
                    {{ element.RequestUser }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Industry">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Industry</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;">                
                    {{ element.Industry }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Office">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Office</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;">                
                    {{ element.Office }}
                </td>
            </ng-container>

            <ng-container matColumnDef="BankAcctName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Client Payment Type</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;" class="truncate">                
                    {{ element.BankAcctName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="RequestDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Date & time</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;" class="truncate">                
                    <!-- {{ element.RequestDate | date:"MM/dd/yyyy HH:mm:ss" }} -->
                    {{  element.Age | minutesToDHM }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ApprovedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Approved Date & time</th>            
                <td mat-cell *matCellDef="let element" style="text-align: end;" class="truncate">                
                    {{ element.ApproveDate | date:"MM/dd/yyyy HH:mm" }}
                </td>
            </ng-container>
            
            <ng-container matColumnDef="CreditType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Credit Type</th>             
                <td mat-cell *matCellDef="let element" style="text-align: end;">                
                    {{ element.Source }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Edit">
                <th mat-header-cell *matHeaderCellDef style="text-align: end;">Action</th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: end;">
                    <span (click)="edit(element)">                        
                        <mat-icon style="height: 20px; width: 20px; font-size: 15px; color: #3a8ada;"><i class="fa fa-edit"></i></mat-icon>
                    </span>                     
                </td>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef class="expand-column"></th>
                    <td mat-cell *matCellDef="let element" class="expand-column">
                        <span (click)="toggleRow(element)">                        
                            <mat-icon style="height: 20px; width: 20px; font-size: 20px;">{{ isExpanded(element) ? 'remove' : 'add' }}</mat-icon>
                        </span>
                    </td>
            </ng-container>  
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="element-row"></tr>

            <ng-container matColumnDef="expandedDetail" style="padding: 2px;">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">            
                    <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">                                
                        <div class="table-container" style="background-color: #f5fbff;">                            
                            <table class="bordered-table">
                                <tr>                                
                                    <th class="header" style="width: 10%;">Comments</th>
                                    <th class="header" style="width: 10%;">CRM / Client comment box</th>               
                                </tr>                               
                                <tr class="table-row">
                                    <td class="cell" style="width: 10%;">{{ element.Comments }}</td>
                                    <td class="cell" style="width: 10%;">{{ element.Response }}</td>
                                </tr>                                
                            </table>                            
                        </div>
                        <br>                         
                        <app-ticketing-master-member-debtors [DebtorKey]="element.DebtorKey"></app-ticketing-master-member-debtors>
                        <br>
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header style="padding: 0 20px 0 0;">                                  
                                  <mat-panel-title>
                                    <table mat-table [dataSource]="firstClientDataSource" matSort multiTemplateDataRows class="mat-table">
        
                                        <ng-container matColumnDef="Client">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
                                            <td (click)="openClientsInvoicesWindow(element.ClientKey, element.Client)" style="color: #005cbb; cursor: pointer; font-weight: Medium;" mat-cell *matCellDef="let element"><u>{{ element.Client }}</u></td>
                                        </ng-container>
                            
                                        <ng-container matColumnDef="TotalAR">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total AR</th>
                                            <td mat-cell *matCellDef="let element">{{ element.Balance | roundThousands }}</td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="AgingOver60Days">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Aging Over 60 Days</th>
                                            <td mat-cell *matCellDef="let element">{{ element.Over60 | roundThousands }}</td>
                                        </ng-container>
                            
                                        <ng-container matColumnDef="%pastdue">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>% pastdue</th>
                                            <td mat-cell *matCellDef="let element" title="{{ element.PastDuePct }}">{{ element.PastDuePct | percent: '1.0-0' }}</td>
                                        </ng-container>
                            
                                        <ng-container matColumnDef="#ofInvoicesDisputes">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header># of Invoices Disputes</th>
                                            <td mat-cell *matCellDef="let element">{{ element.NoInvoicesDispute }}</td>
                                        </ng-container>
                            
                                        <ng-container matColumnDef="#holdInvoices">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header># hold Invoices</th>
                                            <td mat-cell *matCellDef="let element">{{ element.NoInvoicesHold }}</td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="%concentration">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>% concentration</th>
                                            <td mat-cell *matCellDef="let element" title="{{ element.Concentration }}">{{ element.Concentration | percent: '1.0-2' }}</td>
                                        </ng-container>            
                                    
                                        <ng-container matColumnDef="CRM">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CRM</th>
                                            <td mat-cell *matCellDef="let element">{{ element.CRM }}</td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="Office">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Office</th>
                                            <td mat-cell *matCellDef="let element">{{ element.Office }}</td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="Analysis">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Analysis</th>
                                            <td mat-cell *matCellDef="let element"></td>
                                        </ng-container>
                            
                                        <ng-container matColumnDef="expand">
                                            <th mat-header-cell *matHeaderCellDef class="expand-column"></th>
                                            <td mat-cell *matCellDef="let element" class="expand-column">
                                                <span (click)="clientToggleRow(element)">                        
                                                    <mat-icon style="height: 20px; width: 20px; font-size: 20px;">{{ isClientExpanded(element) ? 'remove' : 'add' }}</mat-icon>
                                                </span>
                                            </td>
                                        </ng-container>  
                                    
                                        <tr mat-header-row *matHeaderRowDef="clientDisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: clientDisplayedColumns" class="element-row"></tr>
                            
                                        <ng-container matColumnDef="clientExpandedDetail">
                                            <td mat-cell *matCellDef="let memberElement" [attr.colspan]="clientDisplayedColumns.length" style="padding-left: 1%;">            
                                                <div *ngIf="isClientExpanded(memberElement)">
                                                    <br>                                
                                                    <div class="table-container" style="background-color: #f5fbff;">                                                          
                                                        <app-clients-debtors [MasterClientKey]="memberElement.ClientKey"></app-clients-debtors>
                                                    </div>
                                                    <br>                    
                                                </div>                                      
                                            </td>            
                                        </ng-container>
                                        <tr mat-row *matRowDef="let row; columns: ['clientExpandedDetail']; when: isExpansionDetailRow" class="detail-row"></tr>
                                    </table>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                                            
                              <app-clients [DebtorKey]="element.DebtorKey" [ClientKey]="element.ClientKey"></app-clients>
                            </mat-expansion-panel>
                          </mat-accordion>                                           
                    </div>                                      
                </td>            
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" class="detail-row"></tr>
        </table>
    </div>
  
<!-- <mat-paginator [length]="totalRecords" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25" showFirstLastButtons></mat-paginator> -->
  
</div>