<app-header></app-header>
<div class="container-fluid ml-4" style="width: 98%; cursor: pointer;">
    

<div class="nav-container">
    <ul class="nav nav-tabs justify-content-end" style="border: 0;">
        <li class="nav-item" style="border-top-left-radius: 10px; border-bottom-right-radius: 10px; background-color: #e5e5e5;">
            <a class="nav-link" style="color: #808183" data-toggle="tab" href="/master-debtors" onclick="page_change()">Master Debtors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="background-color: #fcfefe; font-weight: bold; font-family: Arial, Helvetica, sans-serif;" data-toggle="tab" href="/" onclick="page_change()">Client Risk Page</a>
        </li>
        <li class="nav-item" style="border-top-right-radius: 10px; background-color: #e5e5e5;">
            <a class="nav-link" style="color: #808183" data-toggle="tab" href="/" onclick="page_change()">Invoices</a>
        </li>
    </ul>
</div>


<div class="container-fluid w-100 shadow p-2" style="background-color: white; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    
    <app-main-content></app-main-content>
</div>

</div>
<!-- <app-footer></app-footer> -->