.example-card {
    max-height: 500px;
}
  
.example-container {
    height: 810px;
    overflow: auto;
    padding: 15px;
    font-size: 13px;
}

td {
    vertical-align: top;
}

.dropdown {  
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    border-color: #BCBDBF;
  } 

  .header-right-text {
    margin-left: auto;
    padding-left: 10px; /* Adjust padding as needed */
  }

.swal2-textarea-large {
  height: auto !important;
  min-height: auto !important;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
}

.swal2-wide-popup {
  width: 1080px !important;
  max-width: 90% !important;
}

.swal2-textarea {
  min-height: auto !important;
  height: auto !important;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
}