<div class="example-container mat-elevation-z8" tabindex="0">     
    <div class="row" style="justify-content: space-between;">
        <div class="col-md-4">
            <mat-card style="height: 100%;" appearance="outlined">
                <mat-card-header>
                    <mat-card-title style="font-size: 20px;">Client&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="client?.Inactive == 0; else elseBlockStatus" style="color: green; font-size: 15px;"><b>Active</b></span>
                        <ng-template #elseBlockStatus>
                            <span style="color: red; font-size: 15px;"><b>Inactive</b></span>
                        </ng-template>                      
                </mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="client">
                    <table>
                        <tr>
                            <td><b>Name</b></td>
                            <td>{{ client.Name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;"><b>Signed</b></td>
                            <td>{{ client.SignedDate | date:'MM/dd/yyyy' }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;"><b>CRM/Office</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td *ngIf="this.NavAccessRiskMonitoringRestricted == 1; else elseBlockCRM" >{{ client.AcctExec }} / {{ client.Office }}</td>
                            <ng-template #elseBlockCRM>
                                <td>
                                    <select (change)="onChangeCRM($event, client.ClientKey)" style="font-size: 13px;" class="dropdown">
                                        <!-- <option value="{{ client.AcctExec }}">{{ client.AcctExec }}</option> -->
                                        <option *ngFor="let crm of clientCRMList" [value]="crm.UserKey" [selected]="crm.UserKey === client.AcctExec">{{ crm.UserKey }}</option>
                                    </select> / {{ client.Office }}
                                </td>
                            </ng-template>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;"><b>Address</b></td>
                            <td>{{ client.Addr1 }} {{ client.Addr2 }} <br> {{ client.City }} {{ client.State }} {{ client.ZipCode }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;"><b>Phones</b></td>
                            <td>{{ client.Phone1 }} {{ client.Phone2 }}</td>
                        </tr>                                                
                        <tr>
                            <td style="vertical-align: top;"><b>MC#</b></td>
                            <td>{{ client.MotorCarrNo }}</td>
                        </tr>                                                
                        <tr>
                            <td style="vertical-align: top;"><b>Warning</b></td>
                            <td>{{ client.Warning }}</td>
                        </tr>                                                
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-8">
            <div class="row" style="justify-content: space-between;">
                <div class="col-md-6">
                    <mat-card style="height: 100%;" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title style="font-size: 20px;">Contacts</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <table>
                                <tr>
                                    <td><b>Name</b></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;<b>Email</b></td>
                                </tr>
                                <tr *ngFor="let contact of contacts">
                                    <td>{{ contact.LastName }} {{ contact.FirstName }} </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ contact.Phone }} </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ contact.Email }} </td>
                                </tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-6">
                    <mat-card appearance="outlined">
                        <mat-card-header>
                            <mat-card-title style="font-size: 20px;">Concern</mat-card-title>
                        </mat-card-header>
                        <mat-card-content *ngIf="client">
                            <tr>
                                <td><b>Level</b></td> 
                                <td *ngIf="this.NavAccessRiskMonitoringRestricted == 1; else elseBlockLevel" >{{ this.Level }}</td>
                                    <ng-template #elseBlockLevel>
                                        <td>                            
                                            <select (change)="onChangeLevel($event, client.ClientKey)" [ngStyle]="{'font-size': '13px', 'border': bgcolor}" class="dropdown">                                
                                                <option *ngFor="let level of clientGroupLevelList" [value]="level.GroupValue" [selected]="level.GroupValue === this.Level">
                                                    {{ level.GroupValue }}
                                                  </option>
                                            </select>                             
                                        </td>
                                    </ng-template>                      
                                <td><i class="fa fa-history" (click)="levelHistory()" style="font-size: 20px;" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td><b>Fuel Client</b></td>
                                <td *ngIf="this.isFuel == 'YES'; else elseBlockFuel" style="color: red;"><b>YES</b></td>
                                <ng-template #elseBlockFuel>                            
                                    <td style="color: green;"><b>NO</b></td>                            
                                </ng-template>
                            </tr>
                            <tr>
                                <td><b>A/R</b></td>
                                <td *ngIf="this.ARGrossBalance < 0; else elseBlockAR">({{ this.ARGrossBalanceNeg | number:'1.2-2' }})</td>
                                <ng-template #elseBlockAR>                            
                                    <td>{{ this.ARGrossBalance | number:'1.2-2' }}</td>                            
                                </ng-template>
        
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b>NFE</b>
                                </td>
                                <td *ngIf="this.NFE < 0; else elseBlockNFE">({{ this.NFENeg | number:'1.2-2' }})</td>
                                <ng-template #elseBlockNFE>                            
                                    <td>{{ this.NFE | number:'1.2-2' }}</td>                            
                                </ng-template>
                            </tr>
                            <tr>
                                <td><b>Ineligible</b></td>
                                <td *ngIf="this.Ineligible < 0; else elseBlockIneligible">({{ this.IneligibleNeg | number:'1.2-2' }})</td>
                                <ng-template #elseBlockIneligible>                            
                                    <td>{{ this.Ineligible | number:'1.2-2' }}</td>                            
                                </ng-template>
        
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b>Reserve&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </td>
                                <td *ngIf="this.Reserve < 0; else elseBlockReserve">({{ this.ReserveNeg | number:'1.2-2' }})</td>
                                <ng-template #elseBlockReserve>                            
                                    <td>{{ this.Reserve | number:'1.2-2' }}</td>                            
                                </ng-template>
                            </tr>
                            <tr>
                                <td><b>Availability &nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                                <td *ngIf="this.Availability < 0; else elseBlockAvailability">({{ this.AvailabilityNeg | number:'1.2-2' }})</td>
                                <ng-template #elseBlockAvailability>                            
                                    <td>{{ this.Availability | number:'1.2-2' }}</td>                            
                                </ng-template>
                            </tr>                    
                            <tr>
                                
                            </tr>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <br>
            <div class="row" style="justify-content: space-between;">
                <div class="col-md-12">
                    <mat-card appearance="outlined">
                        <mat-card-header>
                            <mat-card-title style="font-size: 20px;">Summary</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{ extractSummaryText(clientSummary) }}</p>
                            <table>  
                                <tr>
                                    <td style="vertical-align: middle;"><b>Created by: </b></td>
                                    <td style="vertical-align: middle;">{{ clientSummary?extractUserId(clientSummary):'' }}</td>
                                    <td style="vertical-align: middle; padding-left: 20px;"><b>Created on: </b></td>
                                    <td style="vertical-align: middle;">{{ extractDate(clientSummary) }}</td>
                                    <td style="vertical-align: middle; padding-left: 40px;">
                                        <button (click)="updateClientSummary()" style="font-size: 12px; background-color: #38f831; border: 1px solid #389147; color: rgb(0, 0, 0); " [ngClass]="{'btn': true, 'btn-sm': true, 'btn-success': true}" style="font-size: 12px;">Edit Summary</button>
                                    </td>
                                </tr>                                          
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title style="font-size: 20px;">Add New Note</mat-card-title>
                </mat-card-header><br>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-2">
                            <label for=""><b>Category</b></label><br>
                            <select class="form-control" style="font-size: 13px;" [(ngModel)]="note_category">
                                <option value="">Select Category</option>
                                <option *ngFor="let category of MonitoringCategories" [value]="category">{{ category }}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="due_date"><b>Due Date </b></label><br>
                            <input type="date" class="form-control" style="font-size: 13px;" [(ngModel)]="due_date" [value]="" name="" id="due_date">  
                        </div>
                        <div class="col-md">
                            <label for="note"><b>Note </b></label><br>
                            <textarea name="" id="" cols="110" class="form-control-sm w-100" [(ngModel)]="note" rows="1"></textarea>
                        </div>
                        <div class="col-md-1">
                            <label for=""></label><br>                            
                            <button (click)="addNote()" style="font-size: 12px; background-color: #38f831; border: 1px solid #389147; color: rgb(0, 0, 0);" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-success': true}" style="font-size: 12px;">Add Note</button>
                        </div>
                    </div>                
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title style="font-size: 20px;">Note History</mat-card-title>     
                    <span #spanElement style="font-size: 12px; background-color: #315cf8; border: 1px solid #385491; color: rgb(255, 255, 255);" class="header-right-text" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': true}" (click)="hiddenNotes(client.ClientKey)">{{ this.hiddenNoteText }}</span>                           
                </mat-card-header><br>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-2">
                            <label for=""><b>Category</b></label>&nbsp;&nbsp;
                            <select class="dropdown" (change)="onCategoryChange($event)">
                                <option value="">Select Category</option>
                                <option *ngFor="let category of MonitoringCategories" [value]="category">{{ category }}</option>
                            </select>
                        </div>
                        <div class='col'><strong>Due Date</strong></div>
                        <div class='col'><strong>Completed</strong></div>
                        <div class='col'><strong>Created By</strong></div>
                        <div class='col'><strong>Created Date</strong></div>
                        <div class='col'><strong></strong></div>
                    </div>
                    <div class="row" *ngFor="let note of MonitoringNotes">
                        <div class="col-md-2">
                        {{ note.Category }}
                        </div>
                        <div class='col' *ngIf="note.DueDate == null; else elseBlockCategory">N/A</div>
                        <ng-template #elseBlockCategory>
                            <div class='col'>{{ note.DueDate | date:'MM/dd/yyyy' }}</div>
                        </ng-template>                    
                        <div class='col' *ngIf="note.DueDate == null; else elseBlockCompleted">N/A</div>
                        <ng-template #elseBlockCompleted>
                            <div class="col" *ngIf="note.Completed == null; else elseBlock">
                                    <span *ngIf="this.NavAccessRiskMonitoringRestricted != 1">
                                    <button id="completed-{{ note.ClientNoteKey }}" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-success': true, 'risk_select_note_completed': 'risk_select_note_completed'}" style="font-size: 12px;" (click)="onChangeCompleteStatus($event)">Set as Completed</button>
                                    </span>
                                </div>
                                    <ng-template #elseBlock>
                                        <div class='col'>
                                            <span *ngIf="this.NavAccessRiskMonitoringRestricted != 1">
                                            {{ note.Completed | date:'MM/dd/yyyy' }}&nbsp;
                                            <button id="notcompleted-{{ note.ClientNoteKey }}" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-danger': true, 'risk_select_note_notcompleted': 'risk_select_note_notcompleted'}" style="font-size: 12px;" (click)="onChangeNotCompleteStatus($event)">Not Completed</button>
                                            </span>
                                        </div>
                                    </ng-template>
                        </ng-template>                                        
                        <div class='col'>{{ note.CreatedBy }}</div>
                        <div class='col'>{{ note.CreatedDate | date:"MM/dd/yyyy HH:mm:ss" }}</div>
                        <div class='col'>
                            <span #spanHideElement id="hide-{{ note.ClientNoteKey }}" style="font-size: 12px; background-color: #f3f5fc; border: 1px solid #385491; color: black;" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': true, 'risk_select_hide_note': 'risk_select_hide_note'}" (click)="hideNote(note.ClientNoteKey)">{{ this.hideNoteBtnText }}</span>
                        </div>
                        <div class='row text-left pl-3 pt-3 pb-3'>
                            <div class="form-control-sm" style="height: fit-content;width: 99%;border: #000000 solid 1px;">{{ note.Notes }}</div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <hr>    
    <button (click)="goBack()" style="font-size: 12px; background-color: #315cf8; border: 1px solid #385491; color: rgb(255, 255, 255);" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': true}" style="font-size: 12px;">Close</button>
</div>
