.example-card {
    max-height: 500px;
}
  
.example-container {
    height: 810px;
    overflow: auto;
    padding: 15px;
    font-size: 13px;
}

td {
    vertical-align: top;
}

.dropdown {  
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    border-color: #BCBDBF;
  } 

  .header-right-text {
    margin-left: auto;
    padding-left: 10px; /* Adjust padding as needed */
  }