  .custom-file-button {
	input[type="file"] {
		margin-left: -2px !important;

		&::-webkit-file-upload-button {
			display: none;
		}
		&::file-selector-button {
			display: none;
		}
	}

	&:hover {
		label {
			background-color: #dde0e3;
			cursor: pointer;
		}
	}
}

.dropdown {  
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    border-color: #BCBDBF;
    width: 80%;
  }

  .mat-mdc-dialog-container {	
	width: 100%;
	  overflow: visible;
  }

  .mat-mdc-dialog-content {
	width: 100%;
	overflow: visible;
	padding-left: 45px;
  }

  .form-label {
	margin-bottom: 2px !important;
  }

  .form-control {
	font-size: small;
  }

  .mat-dialog-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0; /* Remove default padding */
   }
   .dialog-header {
	position: sticky;
	top: 0;
	background-color: white; /* Ensure the background is visible while scrolling */
	z-index: 1; /* Ensure it stays above the content */
	padding: 5px;
	border-bottom: 1px solid #ddd; /* Optional: to distinguish header */
   }
   .dialog-footer {
	position: sticky;
	bottom: 0;
	background-color: white;
	z-index: 1;
	padding: 5px;
	border-top: 1px solid #ddd; /* Optional: to distinguish footer */
   }
   .dialog-content {
	flex: 1 1 auto;
	overflow-y: auto; /* Enable scrolling for the content area */
	padding: 10px;
   }

   .loading-cursor {   
		cursor: wait;
	}

	input::placeholder {
		color: rgb(252, 112, 112);
	}

	textarea::placeholder {
		color: rgb(252, 112, 112);
	}

	.autocomplete {
		position: relative;
		width: 100%;
	   }
	   .suggestions-list {
		position: absolute;
		width: 100%;
		background: white;
		border: 1px solid #ccc;
		max-height: 200px;
		overflow-y: auto;
		list-style: none;
		padding: 0;
		margin: 0;
	   }
	   .suggestions-list li {
		padding: 10px;
		cursor: pointer;
	   }
	   .suggestions-list li:hover {
		background: #f0f0f0;
	   }
	
	   .addr2-suggestions-list {
		position: absolute;
		width: 100%;
		background: white;
		border: 1px solid #ccc;
		max-height: 200px;
		overflow-y: auto;
		list-style: none;
		padding: 0;
		margin: 0;
	   }
	   .addr2-suggestions-list li {
		padding: 10px;
		cursor: pointer;
	   }
	   .addr2-suggestions-list li:hover {
		background: #f0f0f0;
	   }
	   
.detail-row .mat-mdc-cell {
	border-bottom: 1px solid #dee2e6;
	border-top: 1px solid transparent;
	padding-left: 3%;
	font-size: 13px;
  }
  
  .element-row {
	border: 0;
	height: 10px;
  }
  
  .detail-row {
	height: 0;
  }
  .detail-row .example-element-detail {
	padding: 16px;
	overflow: hidden;
	display: flex;
	align-items: center;
  }
.mat-mdc-header-cell.expand-column, .mat-mdc-cell.expand-column {
	width: 30px !important;  
  }

  .mat-header-row {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	color: #58595B;
	font-weight: bolder;  
	height: 40px;
  }

  
.table-container {
	border: 1px solid #dee2e6;
	padding: 10px;
	border-radius: 5px;  
	max-height: 710px;
	overflow-y: auto;
	background-color: #ffffff;
  }   

  
.main-table-container {
	border: 1px solid #dee2e6;
	border-radius: 5px;  
	max-height: 700px;
	overflow-y: auto;
	background-color: #ffffff;
	font-size: 13px;
  }   
  
.trend-tab {
	margin: 30px;
	max-height: 700px;
	overflow: auto;
}

.mat-card-trend-input{
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #ffffff;
}

.mat-card-trend-table {
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #ffffff;
	
    overflow-x: auto; 
    overflow-y: hidden;
}

.mat-card-trend-chart {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	background-color: #ffffff;
}

.trend-table {
	background-color: #ffffff;
    width: 100%;
    margin-bottom: 0;
	table-layout: fixed; 
}

.trend-table th, .trend-table td {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 2px; /* Reduce padding to save space */
    font-size: 0.7rem; /* Slightly reduce font size */
}

.trend-table th:first-child, 
.trend-table td:first-child {
    width: 10%;
    min-width: 100px;
}

.trend-table th:not(:first-child), 
.trend-table td:not(:first-child) {
    width: calc(90% / 12); /* Distribute remaining width among 12 data columns */
}

.invoiceNumberClickable{
	color:#1e5cd8;
}

.invoiceNumberClickable:hover {
	color:#133984;
	cursor: pointer;
}

.checkbox-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
}

.formCheckBox {
    width: 20px;
    height: 20px;
	cursor: pointer;
}

.input-error {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.input-error:focus {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.input-success {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.input-success:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  display: block;
}

.form-label {
  font-weight: 500;
}