<div *ngIf="data.documentsList">
  <div class="dialog-header">
    <h3 mat-dialog-title>Documents</h3>
  </div>
  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <ul *ngFor="let item of data.documentsList">
        <li (click)="openFile()" style="cursor: pointer;">{{ item.FileName }}</li>
      </ul>
      <div *ngIf="data.userAccessLevel === 'Full'">
        <hr>
        <label for="documentCategory"> <b>Category</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select class="dropdown" [(ngModel)]="documentCategory" id="documentCategory">
          <option *ngFor="let category of data.documentCategory" value="{{ category.DocCatKey }}">{{ category.Descr }}
          </option>
        </select><br><br>

        <label for="documentDescr"> <b>Description</b> &nbsp;</label>
        <input type="text" class="dropdown" [(ngModel)]="documentDescr" id="documentDescr"><br><br>

        <div class="input-group custom-file-button">
          <label class="input-group-text" for="inputGroupFile">Browse</label>
          <input type="file" class="form-control" id="inputGroupFile" (change)="this.onFilechange($event)">
        </div>
        <br>
      </div>
    </mat-dialog-content>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true"
        *ngIf="data.userAccessLevel === 'Full'"
        (click)="onSubmit()" cdkFocusInitial>Upload</button>
    </mat-dialog-actions>
  </div>
</div>

<script src="assets/js/tiff.min.js"></script>
<div *ngIf="data.DebtorContactsData">
  <div class="dialog-header">
    <h3 mat-dialog-title>Debtor Contacts</h3>
  </div>
  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <table mat-table [dataSource]="contactDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.FirstName }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element"><a href="mailto:{{ element.Email }}">{{ element.Email }}</a></td>
        </ng-container>

        <ng-container matColumnDef="contact_no">
          <th mat-header-cell *matHeaderCellDef>Contact No</th>
          <td mat-cell *matCellDef="let element"><a href="tel:{{ element.Phone }}">{{ element.Phone }}</a></td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="contactColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: contactColumns;"></tr>
      </table>
    </mat-dialog-content>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>
</div>

<div *ngIf="data.DebtorPaymentsData">
  <div class="dialog-header"><br>
    &nbsp;Payments - {{ data.Debtor }}
    <br>
  </div>
  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <table mat-table [dataSource]="paymentDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.CheckDate | date }}</td>
        </ng-container>

        <ng-container matColumnDef="check#">
          <th mat-header-cell *matHeaderCellDef>Check#</th>
          <td mat-cell *matCellDef="let element" (click)="getPaymentsImage(element)" style="cursor: pointer;">{{
            element.CheckNo }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.Amt | roundThousands }}</td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="paymentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: paymentColumns;"></tr>
      </table>
    </mat-dialog-content>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>
</div>

<div *ngIf="data.openForm">
  <div class="dialog-header">
    <h3 mat-dialog-title>Edit Debtor Details</h3>
  </div>
  <form [formGroup]="editForm" (ngSubmit)="onEdit()">
    <div class="dialog-content">
      <mat-dialog-content>
        <div class="row" style="padding-top: 5px;">
          <div class="col-md-6">
            <label for="Debtor" class="form-label">Debtor Name</label>
            <input type="text" id="Debtor" class="form-control" formControlName="Debtor" value="{{ this.debtor }}"
              placeholder="N/A">
          </div>
          <div class="col-md-3">
            <label for="TotalCreditLimit" class="form-label">CreditLimit</label>
            <input type="text" id="TotalCreditLimit" class="form-control" formControlName="TotalCreditLimit"
              placeholder="N/A">
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6">
                <label for="IndivCreditLimit" class="form-label">S.C. Limit</label>
                <input type="text" id="IndivCreditLimit" class="form-control" formControlName="IndivCreditLimit" placeholder="N/A">
              </div>
              <div class="col-md-6">
                <label for="Terms" class="form-label">Terms</label>
                <input type="text" id="Terms" class="form-control" formControlName="Terms" placeholder="N/A">
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-md-3">
            <!-- <label for="Addr1" class="form-label">Address 1</label>
              <input type="text" id="Addr1" formControlName="Addr1" (input)="onQueryChange($event)" placeholder="N/A" class="form-control">  
              <ul *ngIf="suggestions.length" class="suggestions-list">
                <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                    {{ suggestion.text }} {{ suggestion.description }}
                </li>
            </ul>           -->
            <label for="Addr1" class="form-label">Address 1</label>
            <input type="text" id="Addr1" formControlName="Addr1" errormessage="Please enter your Address"
              placeholder="N/A" class="form-control" autocomplete="off">
          </div>
          <div class="col-md-3">
            <!-- <label for="Addr2" class="form-label">Address 2</label>
              <input type="text" formControlName="Addr2" id="Addr2" (input)="onAddr2QueryChange($event)" class="form-control" placeholder="N/A"> 
              <ul *ngIf="addr2suggestions.length" class="addr2-suggestions-list">
                <li *ngFor="let addr2suggestion of addr2suggestions" (click)="selectAddr2Suggestion(addr2suggestion)">
                    {{ addr2suggestion.text }} {{ addr2suggestion.description }}
                </li>
              </ul> -->
            <label for="Addr2" class="form-label">Address 2</label>
            <input type="text" id="Addr2" formControlName="Addr2" errormessage="Please enter your Address"
              placeholder="N/A" class="form-control" autocomplete="off">
          </div>
          <div class="col-md-3">
            <label for="City" class="form-label">City</label>
            <input type="text" id="City" class="form-control" formControlName="City" placeholder="N/A">
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6">
                <label for="State" class="form-label">State</label>
                <input type="text" id="State" class="form-control" formControlName="State" placeholder="N/A">
              </div>
              <div class="col-md-6">
                <label for="Country" class="form-label">Country&Area</label>
                <select id="Country" class="form-control" formControlName="Country" matTooltip="{{editForm.get('Country')?.value}}">
                  <option *ngFor="let country of countryAreaList" [value]="country.CountryAreaName">{{ country.CountryAreaName }}</option>
                  <!-- <option value="Canada">Canada</option>
                  <option value="United States">United States</option>
                  <option value="Mexico">Mexico</option>
                  <option value="United Kingdom">United Kingdom</option> -->
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-md-3">
            <label for="Phone1" class="form-label">Phone 1</label>
            <input type="text" id="Phone1" class="form-control" formControlName="Phone1">
          </div>
          <div class="col-md-3">
            <label for="Phone2" class="form-label">Phone 2</label>
            <input type="text" id="Phone2" class="form-control" formControlName="Phone2" placeholder="N/A">
          </div>
          <div class="col-md-3">
            <label for="AIGLimit" class="form-label">AIGLimit</label>
            <input type="text" id="AIGLimit" class="form-control" formControlName="AIGLimit" placeholder="N/A">
          </div>
          <div class="col-md-3">
            <label for="RateDate" class="form-label">Research Date</label>
            <input type="date" id="RateDate" class="form-control" formControlName="RateDate" placeholder="N/A">
          </div>

        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-md-3">
            <label for="CredExpireMos" class="form-label">Expiry Month</label>
            <input type="text" id="CredExpireMos" class="form-control" formControlName="CredExpireMos"
              placeholder="N/A">
          </div>
          <div class="col-md-3">
            <label for="MotorCarrNo" class="form-label">MC#</label>
            <input type="text" id="MotorCarrNo" class="form-control" formControlName="MotorCarrNo" placeholder="N/A">
          </div>
          <div class="col-md-3">
            <label for="Duns" class="form-label">Duns</label>
            <input type="text" id="Duns" class="form-control" formControlName="Duns" placeholder="N/A">
          </div>
          <div class="col-md-3">
            <label for="DotNo" class="form-label">USDOT</label>
            <input type="text" id="DotNo" class="form-control" formControlName="DotNo" placeholder="N/A">
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-md-12">
            <label for="Email" class="form-label">Email</label>
            <textarea id="Email" cols="110" class="form-control" rows="2" formControlName="Email"
              placeholder="N/A"></textarea>
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-md-12">
            <label for="Warning" class="form-label">Warning</label>
            <textarea id="Warning" cols="110" class="form-control" rows="2" formControlName="Warning"
              placeholder="N/A"></textarea>
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-md-12">
            <label for="Notes" class="form-label">Instructions</label>
            <textarea id="Notes" cols="110" class="form-control" rows="2" formControlName="Notes"
              placeholder="N/A"></textarea>
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-md-12">
            <label for="CredNote" class="form-label">Credit Information</label>
            <textarea id="CredNote" cols="110" class="form-control" rows="2" formControlName="CredNote"
              placeholder="N/A"></textarea>
          </div>
        </div>

      </mat-dialog-content>
    </div>
    <div class="dialog-footer">
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit">Save</button>
      </mat-dialog-actions>
    </div>
  </form>
</div>

<div *ngIf="data.noa">
  <div class="dialog-header">
    <h3 mat-dialog-title>NOA</h3>
  </div>
  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <label for="noaStatus"> <b>Status</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <select class="dropdown" (change)="onChange($event)" id="noaStatus">
        <option *ngFor="let status of noaStatus" [value]="status.value">{{ status.label }}</option>
      </select>
      <br><br>
      <div *ngIf="changedNoaStatus == 'Received'">
        <h3 mat-dialog-title>Upload Document</h3>
        <label for="documentCategory"> <b>Category</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select class="dropdown" [(ngModel)]="documentCategory" id="documentCategory">
          <option *ngFor="let category of data.documentCategory" value="{{ category.DocCatKey }}">{{ category.Descr }}
          </option>
        </select><br><br>

        <label for="documentDescr"> <b>Description</b> &nbsp;</label>
        <input type="text" class="dropdown" [(ngModel)]="documentDescr" id="documentDescr"><br><br>

        <div class="input-group custom-file-button">
          <label class="input-group-text" for="inputGroupFile">Browse</label>
          <input type="file" class="form-control" id="inputGroupFile" (change)="this.onFilechange($event)">
        </div>
      </div><br>
    </mat-dialog-content>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" (click)="onSubmit()" cdkFocusInitial>Update</button>
    </mat-dialog-actions>
  </div>
</div>

<div *ngIf="data.MiscDataList">
  <div class="dialog-header">
    <h3 mat-dialog-title>Misc. Data</h3>
  </div>
  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <table mat-table [dataSource]="MiscDataListDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="element">
          <th mat-header-cell *matHeaderCellDef>Element</th>
          <td mat-cell *matCellDef="let element">{{ element.DataElementName }}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element">{{ element.FldValue }}</td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="miscDataColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: miscDataColumns;"></tr>
      </table>
    </mat-dialog-content>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>
</div>

<div *ngIf="data.ClientAccountStatus">
  <div class="dialog-content">
    <br>
    <div style="text-align: center;">&nbsp;&nbsp;{{ data.Client }}&nbsp;&nbsp;</div>
    <mat-dialog-content class="mat-typography">
      <table>
        <tr>
          <td>Dilution</td>
          <td>
            <div *ngIf="data.Dilution <= 1.5">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" style="color: green; font-size: 10px;" aria-hidden="true"
                title="{{ data.Dilution }}"></i>&nbsp; {{ data.Dilution | roundThousands }} %
            </div>
            <div *ngIf="data.Dilution >= 1.51 && data.Dilution <= 3">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" style="color: orange; font-size: 10px;" aria-hidden="true"
                title="{{ data.Dilution }}"></i>&nbsp; {{ data.Dilution | roundThousands }} %
            </div>
            <div *ngIf="data.Dilution > 3">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" style="color: red; font-size: 10px;" aria-hidden="true"
                title="{{ data.Dilution }}"></i>&nbsp; {{ data.Dilution | roundThousands }} %
            </div>
          </td>
        </tr>
        <tr>
          <td>Ineligibles</td>
          <td>
            <div *ngIf="data.Ineligibles <= 4.9">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" style="color: green; font-size: 10px;" aria-hidden="true"
                title="{{ data.Ineligibles }}"></i>&nbsp; {{ data.Ineligibles | roundThousands }} %
            </div>
            <div *ngIf="data.Ineligibles >= 5 && data.Ineligibles <= 10">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" style="color: orange; font-size: 10px;" aria-hidden="true"
                title="{{ data.Ineligibles }}"></i>&nbsp; {{ data.Ineligibles | roundThousands }} %
            </div>
            <div *ngIf="data.Ineligibles > 10">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" style="color: red; font-size: 10px;" aria-hidden="true"
                title="{{ data.Ineligibles }}"></i>&nbsp; {{ data.Ineligibles | roundThousands }} %
            </div>
          </td>
        </tr>
        <tr>
          <td>Availability</td>
          <td>
            <div *ngIf="data.Availability < -2">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" style="color: red; font-size: 10px;" aria-hidden="true"
                title="{{ data.Availability }}"></i>&nbsp; {{ data.Availability | roundThousands }} %
            </div>
            <div *ngIf="data.Availability < 0 && data.Availability >= -2">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" style="color: orange; font-size: 10px;" aria-hidden="true"
                title="{{ data.Availability }}"></i>&nbsp; {{ data.Availability | roundThousands }} %
            </div>
            <div *ngIf="data.Availability >= 0">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" style="color: green; font-size: 10px;" aria-hidden="true"
                title="{{ data.Availability }}"></i>&nbsp; {{ data.Availability | roundThousands }} %
            </div>
          </td>
        </tr>
      </table>
    </mat-dialog-content>
  </div>
</div>

<div *ngIf="data.exchangeRatesByMonth">

  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <table>
        <tr>
          <th>Rate</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <th>Currency</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <th>YearMonth</th>
        </tr>
        <tr *ngFor="let item of data.exchangeRatesByMonth">
          <td>{{ item.Rate }}</td>&nbsp;&nbsp;
          <td>{{ item.Currency }}</td>&nbsp;&nbsp;
          <td>{{ item.YearMonth }}</td>
        </tr>
      </table>
    </mat-dialog-content>
  </div>
</div>

<div *ngIf="data.DSO_30">
  <div class="dialog-content">
    <strong>{{ data.Debtor }}</strong>
    <mat-dialog-content class="mat-typography">
      <table>
        <tr>
          <th>DSO30</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <th>DSO60</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <th>DSO90</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </tr>
        <tr>
          <td>{{ data.DSO_30 }}</td>&nbsp;&nbsp;
          <td>{{ data.DSO_60 }}</td>&nbsp;&nbsp;
          <td>{{ data.DSO_90 }}</td>&nbsp;&nbsp;
        </tr>
      </table>
    </mat-dialog-content>
  </div>
</div>

<div *ngIf="data.LevelHistory">
  <div class="dialog-header">
    <h4 mat-dialog-title>Level Change History</h4>
  </div>
  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <table>
        <tr>
          <th>Date/Time</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <th>User</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <th>Level Was</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <th>Changed To</th>
        </tr>
        <tr *ngFor="let item of data.LevelHistory">
          <td>{{ item.TimeStamp| date:"MM/dd/yyyy HH:mm:ss" }}</td>&nbsp;&nbsp;
          <td>{{ item.UserKey }}</td>&nbsp;&nbsp;
          <td>{{ item.WasValue }}</td>&nbsp;&nbsp;
          <td>{{ item.IsValue }}</td>
        </tr>
      </table>
    </mat-dialog-content>
  </div>
</div>

<div *ngIf="data.debtorAudit">
  <div class="dialog-header">
    <h3 mat-dialog-title>Debtor Audit History</h3>
  </div>
  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <table mat-table [dataSource]="auditDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="TimeStamp">
          <th mat-header-cell *matHeaderCellDef>Time Stamp</th>
          <td mat-cell *matCellDef="let element">{{ element.TimeStamp | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
        </ng-container>

        <ng-container matColumnDef="UserKey">
          <th mat-header-cell *matHeaderCellDef>User</th>
          <td mat-cell *matCellDef="let element">{{ element.UserKey }}</td>
        </ng-container>

        <ng-container matColumnDef="Field">
          <th mat-header-cell *matHeaderCellDef>Field</th>
          <td mat-cell *matCellDef="let element">{{ element.Field }}</td>
        </ng-container>

        <ng-container matColumnDef="Was">
          <th mat-header-cell *matHeaderCellDef>Was</th>
          <td mat-cell *matCellDef="let element">{{ element.WasValue }}</td>
        </ng-container>

        <ng-container matColumnDef="Is">
          <th mat-header-cell *matHeaderCellDef>Is</th>
          <td mat-cell *matCellDef="let element">{{ element.IsValue }}</td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="auditColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: auditColumns;"></tr>
      </table>
    </mat-dialog-content>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>
</div>

<div *ngIf="data.debtorStatements">
  <div class="dialog-header">
    <h3 mat-dialog-title>Debtor Statement Details</h3>
  </div>
  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <div class="main-table-container">
        <table mat-table [dataSource]="statementsDataSource" multiTemplateDataRows class="mat-table">

          <ng-container matColumnDef="Debtor">
            <th mat-header-cell *matHeaderCellDef>Debtor</th>
            <td mat-cell *matCellDef="let element">{{ element.DtrName }}</td>
          </ng-container>

          <ng-container matColumnDef="Client">
            <th mat-header-cell *matHeaderCellDef>Vendor/Carrier</th>
            <td mat-cell *matCellDef="let element">{{ element.CliName }}</td>
          </ng-container>

          <ng-container matColumnDef="PO/LOAD">
            <th mat-header-cell *matHeaderCellDef>PO/Load#</th>
            <td mat-cell *matCellDef="let element">{{ element.PurchOrd }}</td>
          </ng-container>

          <ng-container matColumnDef="Invoice#">
            <th mat-header-cell *matHeaderCellDef>Invoice#</th>
            <td mat-cell *matCellDef="let element" class="invoiceNumberClickable" (click)="clickInvoiceNumber(element)">{{ element.InvNo }}</td>
          </ng-container>

          <ng-container matColumnDef="InvDate">
            <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
            <td mat-cell *matCellDef="let element">{{ element.InvDate | date:"MM/dd/yyyy" }}</td>
          </ng-container>

          <ng-container matColumnDef="Age">
            <th mat-header-cell *matHeaderCellDef>Age</th>
            <td mat-cell *matCellDef="let element">{{ element.Age }}</td>
          </ng-container>

          <ng-container matColumnDef="Currency">
            <th mat-header-cell *matHeaderCellDef>Currency</th>
            <td mat-cell *matCellDef="let element">{{ element.CurrencyType }}</td>
          </ng-container>

          <ng-container matColumnDef="Amt">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">{{ element.Amt | number:'1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="Balance">
            <th mat-header-cell *matHeaderCellDef>Balance</th>
            <td mat-cell *matCellDef="let element">{{ element.Balance | number:'1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef class="expand-column"></th>
            <td mat-cell *matCellDef="let element" class="expand-column">
              <span (click)="toggleRow(element)">
                <mat-icon onMouseOver="this.style.cursor='pointer'" style="height: 20px; width: 20px; font-size: 20px;">{{ isExpanded(element) ?
                  'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row class="mat-header-row" *matHeaderRowDef="statementsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: statementsColumns;" class="element-row"></tr>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="statementsColumns.length">
              <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">
                <b>Note: </b> {{ element.LastNote }}
              </div>
            </td>
          </ng-container>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" class="detail-row">
          </tr>
        </table>
      </div>
    </mat-dialog-content>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>
</div>

<div *ngIf="data.openChequeSearchForm">
  <div class="dialog-header">
    <h3 mat-dialog-title>Cheque Search</h3>
  </div>
  <div class="spinner-container" *ngIf="isChequeSearchLoading && !isChequeSearchEmpty">
      <mat-spinner class="custom-spinner"></mat-spinner>
  </div>
  <div class="spinner-container" *ngIf="isChequeSearchLoading && isChequeSearchEmpty">
      <p>No Data Found</p>
  </div>
  <div class="dialog-content" *ngIf="!isChequeSearchLoading;">
    <form [formGroup]="chequeSearchForm" (ngSubmit)="onChequeSearch()">
      <mat-dialog-content>

        <div class="row">
          <div class="col-md"></div>
          <div class="col-md-2">
            <b>{{ this.lastThreeMonths30 }}:&nbsp;</b><span>{{ this.Payment30 | roundThousands }}</span>
          </div>
          <div class="col-md-2">
            <b>{{ this.lastThreeMonths60 }}:&nbsp;</b><span>{{ this.Payment60 | roundThousands }}</span>
          </div>
          <div class="col-md-2">
            <b>{{ this.lastThreeMonths90 }}:&nbsp;</b><span>{{ this.Payment90 | roundThousands }}</span>
          </div>
          <div class="col-md-2">
            <b>{{ this.currentMonth }}:&nbsp;</b><span>{{ this.Payment120 | roundThousands }}</span>
          </div>
          <div class="col-md"></div>
        </div>
        <br>
        <!-- <div class="row">
              <div class="col-md-4">
                <label for="CheckNo" class="form-label">Cheque #</label>
                <input type="text" id="CheckNo" class="form-control" formControlName="CheckNo">
              </div>
            
              <div class="col-md-4">
                <label for="Amt" class="form-label">Amount</label>
                <input type="text" id="Amt" class="form-control" formControlName="Amt">
              </div>
            
              <div class="col-md-4">
                <label for="PostDateStart" class="form-label">Date From</label> 
              <input type="date" id="PostDateStart" class="form-control" formControlName="PostDateStart">
              </div>           
            </div>
            <div class="row" style="padding-top: 5px;">
              <div class="col-md-4">
                <label for="PostDateEnd" class="form-label">Date Thru</label>
                <input type="date" id="PostDateEnd" class="form-control" formControlName="PostDateEnd">
              </div>
            
              <div class="col-md-4">
                <label for="LastPayments" class="form-label"></label><br>
                <mat-checkbox formControlName="LastPayments">Last Payments</mat-checkbox>
              </div>
            </div> -->

        <mat-card appearance="raised" class="cheque-searchcard-container">
          <table mat-table [dataSource]="paymentsDataSource" class="mat-elevation-z8 cheque-search-tab-table">

            <ng-container matColumnDef="CheckNo">
              <th mat-header-cell *matHeaderCellDef>Cheque#</th>
              <td mat-cell *matCellDef="let element" style="color: #3a8ada;" (click)="getPaymentsImage(element)">{{
                element.CheckNo }}</td>
            </ng-container>

            <ng-container matColumnDef="ClientName">
              <th mat-header-cell *matHeaderCellDef>Client Name</th>
              <td mat-cell *matCellDef="let element">{{ element.ClientName }}</td>
            </ng-container>

            <ng-container matColumnDef="DebtorName">
              <th mat-header-cell *matHeaderCellDef>Debtor Name</th>
              <td mat-cell *matCellDef="let element">{{ element.DebtorName }}</td>
            </ng-container>

            <ng-container matColumnDef="PostDate">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">{{ element.PostDate | date:"MM/dd/yyyy" }}</td>
            </ng-container>

            <ng-container matColumnDef="Buy">
              <th mat-header-cell *matHeaderCellDef>Buy</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="PayAmt">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let element">{{ element.PayAmt | roundThousands }}</td>
            </ng-container>

            <tr mat-header-row class="mat-header-row" *matHeaderRowDef="paymentsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: paymentsColumns;"></tr>
          </table>
        </mat-card>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- <button mat-button type="submit" [disabled]="chequeSearchForm.invalid">Save</button> -->
      </mat-dialog-actions>
    </form>
  </div>
</div>

<div *ngIf="data.invoiceDetails">
  <div class="dialog-header">
    <h3 mat-dialog-title>Invoice Detail Notes</h3>
  </div>
  <div class="dialog-content">
    <mat-dialog-content class="mat-typography">
      <table mat-table [dataSource]="detailNotesDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.Date | date }}</td>
        </ng-container>

        <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef>User</th>
          <td mat-cell *matCellDef="let element">{{ element.UserName }}</td>
        </ng-container>

        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>Contact</th>
          <td mat-cell *matCellDef="let element">{{ element.SpokeTo }}</td>
        </ng-container>

        <ng-container matColumnDef="Method">
          <th mat-header-cell *matHeaderCellDef>Method</th>
          <td mat-cell *matCellDef="let element">{{ element.Method }}</td>
        </ng-container>

        <ng-container matColumnDef="Promise">
          <th mat-header-cell *matHeaderCellDef>Promise</th>
          <td mat-cell *matCellDef="let element">{{ element.Promise | date }}</td>
        </ng-container>

        <ng-container matColumnDef="Note">
          <th mat-header-cell *matHeaderCellDef style="width: 600px;">Note</th>
          <td mat-cell *matCellDef="let element">{{ element.Text }}</td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="detailNotesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: detailNotesColumns;"></tr>
      </table>
    </mat-dialog-content>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>
</div>

<div *ngIf="data.showWarningNote">
  <div class="dialog-content" style="padding: 20px;">
    <h6>{{ data.Client }}</h6>
    {{ data.Warning }}
  </div>
</div>

<div *ngIf="data.openTicketForm">
  <div class="dialog-header">
    <h3 mat-dialog-title>Approve/Deny Credit Request</h3>
    <button mat-icon-button (click)="onCloseDialog()" class="close-button">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-tab-group>
    <mat-tab label="Request">
      <form [formGroup]="editTicketForm" (ngSubmit)="onTicketEdit()">
        <div class="dialog-content">
          <mat-dialog-content>
            <div class="row" style="padding-bottom: 5px;">
              <div class="col">
                <div class="row" style="padding-top: 0px;">
                  <div class="col-md-12">
                    <label for="RequestNo" class="form-label">Request#</label>
                    <input type="text" id="RequestNo" class="form-control" value="{{editTicketForm.get('RequestNo')?.value + ' on ' + (editTicketForm.get('RequestDate')?.value | date:'MM/dd/yyyy h:mm a') + ' by ' + editTicketForm.get('RequestUser')?.value}}"
                      placeholder="N/A" readonly>
                  </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                  <div class="col-md-3">
                    <label for="Client" class="form-label">Client</label>
                    <input type="text" id="Client" class="form-control" formControlName="Client" placeholder="N/A" readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="Debtor" class="form-label">Debtor</label>
                    <input type="text" id="Debtor" class="form-control" formControlName="Debtor" placeholder="N/A" readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="EstablishedDate" class="form-label">Established date</label>
                    <input type="string" id="EstablishedDate" class="form-control" formControlName="EstablishedDate" readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="Terms" class="form-label">Terms</label>
                    <input type="text" id="Terms" class="form-control" formControlName="Terms" readonly>
                  </div>
                </div>
                <!-- <div class="row" style="padding-top: 10px;">
                  <div class="col-md-6">
                    <label for="ShipDate" class="form-label">Ship date</label>
                    <input type="date" id="ShipDate" class="form-control" formControlName="ShipDate" readonly>
                  </div>
                  <div class="col-md-6">
                    <label for="EstablishedDate" class="form-label">Established date</label>
                    <input type="date" id="EstablishedDate" class="form-control" formControlName="EstablishedDate" readonly>
                  </div>
                </div> -->
                <div class="row" style="padding-top: 10px;">
                  <div class="col-md-12">
                    <label for="Comments" class="form-label">Comments</label>
                    <textarea id="Comments" class="form-control" formControlName="Comments" cols="30" rows="3" readonly></textarea>
                  </div>
                </div>
                <!-- member and master's total and single credit limit -->
                <hr class="solid">
                <div class="row" style="padding-top: 10px; margin-bottom: 10px;">
                  <!-- Left column -->
                  <div class="col-md-6" style="padding-right: 15px; border-right: 1px solid rgba(0,0,0,0.12);">
                    <div class="row">
                      <div class="col-md-9 mb-3">
                        <label class="form-label"><b>Ticket Debtor</b></label>
                        <input type="text" id="MasterDebtor" class="form-control" formControlName="MasterDebtor" readonly>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label class="form-label">Type</label>
                        <input type="text" id="Type" class="form-control" formControlName="Type" readonly>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label">Total limit</label>
                        <input type="text" id="TotalCreditLimit" class="form-control" formControlName="TotalCreditLimit" placeholder="N/A" readonly>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label">S.C. limit</label>
                        <input type="text" id="IndivCreditLimit" class="form-control" formControlName="IndivCreditLimit" placeholder="N/A" readonly>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Right column -->
                  <div class="col-md-6" style="padding-left: 15px;">
                    <div class="row">
                      <div class="col-md-9 mb-3">
                        <label class="form-label"><b>Master Debtor</b></label>
                        <input type="text" id="MasterDebtor" class="form-control" formControlName="MasterDebtor" readonly>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label class="form-label">Limit set by</label>
                        <input type="text" id="CredAppBy" class="form-control" formControlName="CredAppBy" readonly>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label">Master's total limit</label>
                        <input type="text" id="MasterTotalCreditLimit" class="form-control" formControlName="MasterTotalCreditLimit" placeholder="N/A" readonly>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label">Master's S.C. limit</label>
                        <input type="text" id="MasterIndivCreditLimit" class="form-control" formControlName="MasterIndivCreditLimit" placeholder="N/A" readonly>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="solid">
                <div class="row" style="padding-top: 10px;">
                  <div class="col-md-3">
                    <label for="ExpiresInMonths" class="form-label">Expires In months *</label>
                    <input type="text" id="ExpiresInMonths" class="form-control" formControlName="ExpiresInMonths" 
                      [class.is-invalid]="hasFieldError('ExpiresInMonths')" (change)="onExpiresInMonthsChange($event)">
                    <div class="invalid-feedback" *ngIf="hasFieldError('ExpiresInMonths')">
                      {{getFieldErrorMessage('ExpiresInMonths')}}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="ExpiresDate" class="form-label">Expires date</label>
                    <input type="text" id="ExpiresDate" class="form-control" formControlName="ExpiresDate" readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="RateDate" class="form-label">Research date</label>
                    <div class="input-icon-container">
                      <input type="date" id="RateDate" class="form-control" formControlName="RateDate"  (keydown.enter)="$event.preventDefault()" (blur)="onSaveResearchDate()">
                      <mat-icon class='save-icon' fontIcon="save" (click)="onSaveResearchDate()"></mat-icon>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="Action" class="form-label">Action *</label>
                    <select id="Action" class="form-control" formControlName="Action" (change)="onActionChange($event)" 
                      [class.is-invalid]="hasFieldError('Action')">
                      <option value="">Select an action...</option>
                      @for (actionStr of actionList; track actionStr.Name) {
                        <option value={{actionStr.Status}}>{{actionStr.Name}}</option>
                      }
                    </select>
                    <div class="invalid-feedback" *ngIf="hasFieldError('Action')">
                      {{getFieldErrorMessage('Action')}}
                    </div>
                  </div>
                </div>
                <!-- <div class="row" style="padding-top: 10px;">
                  <div class="col-md-6">
                    <label for="Action" class="form-label">Action</label>
                    <select id="Action" class="form-control" formControlName="Action" (change)="onActionChange($event)">
                      @for (actionStr of actionList; track actionStr.Name) {
                        <option value={{actionStr.Status}}>{{actionStr.Name}}</option>
                      }
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="RequestAmt" class="form-label">Requested</label>
                    <input type="text" id="RequestAmt" class="form-control" formControlName="RequestAmt" placeholder="N/A" readonly>
                  </div>
                </div> -->
                <div class="row" style="padding-top: 10px;">
                  <div class="col-md-3">
                    <label for="RequestAmt" class="form-label">Requested</label>
                    <input type="text" id="RequestAmt" class="form-control" formControlName="RequestAmt" placeholder="N/A" readonly>
                  </div>
                  <div class="col-md-3">
                      <label for="ApproveAmt" class="form-label">New total credit limit *</label>
                      <input type="text" 
                            id="ApproveAmt" 
                            class="form-control" 
                            [class]="'form-control ' + getApproveAmtValidationClass()"
                            [class.is-invalid]="hasFieldError('ApproveAmt')"
                            formControlName="ApproveAmt" 
                            placeholder="N/A">
                      <div class="invalid-feedback" *ngIf="hasFieldError('ApproveAmt')">
                        {{getFieldErrorMessage('ApproveAmt')}}
                      </div>
                  </div>
                  <div class="col-md-3">
                    <label for="NewLimit" class="form-label">New individual credit limit *</label>
                    <input type="text" id="NewLimit" class="form-control" formControlName="NewLimit" [class.is-invalid]="hasFieldError('NewLimit')">
                    <div class="invalid-feedback" *ngIf="hasFieldError('NewLimit')">
                      {{getFieldErrorMessage('NewLimit')}}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="SendDecisionToClient" class="form-label" matTooltip="Send decision ticket to client">Decision email</label>
                        <div class="checkbox-container">
                          <input type="checkbox" id="SendDecisionToClient" class="formCheckBox" formControlName="SendDecisionToClient">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="ChangeMaster" class="form-label" matTooltip="Update master's limits">Update Master</label>
                        <div class="checkbox-container">
                          <input type="checkbox" id="ChangeMaster" class="formCheckBox" formControlName="ChangeMaster">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                  <div class="col-md-12">
                    <label for="FreeTextInput" class="form-label">Text input</label>
                    <textarea id="FreeTextInput" class="form-control" 
                              [class.is-invalid]="hasFieldError('FreeTextInput')"
                              formControlName="FreeTextInput" rows="3"></textarea>
                    <div class="invalid-feedback" *ngIf="hasFieldError('FreeTextInput')">
                      {{ getFieldErrorMessage('FreeTextInput') }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-dialog-content>
        </div>
        <div class="dialog-footer">
          <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button type="submit">Save</button>
          </mat-dialog-actions>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Trend">
      <div class="trend-tab">
        <app-ticketing-analysis [ticketData]="data.row" (debtorDetailsChanged)="updateDebtorDetails($event)"></app-ticketing-analysis>
        <!-- <mat-card appearance="raised" class="mat-card-trend-input">
          <div class="col-md-12">
            <label class="form-label"><strong>Statistics For</strong></label>
            <input id="StatisticsForInput" [readonly]="true" value={{trendDabtorName}} class="form-control">
          </div>
          <div class="col-md-12">
            <label class="form-label"><strong>Client</strong></label>
            <input id="ClientInput" value={{trendClientName}} class="form-control">
          </div>
          <div class="col-md-12">
            <label class="form-label"><strong>Periods</strong></label>
            <br>
            <mat-form-field class="periods-selection">
              <select [(ngModel)]="trendPeriodChar" (change)="onTrendPeriodChange($event)" matNativeControl required>
                <option value="M">Months</option>
                <option value="Q">Quarters</option>
                <option value="Y">Years</option>
              </select>
            </mat-form-field>
          </div>
        </mat-card>
        <mat-card appearance="raised" class="mat-card-trend-table">
          <div class="col-md-12">
            <table mat-table [dataSource]="ticketingTrendDataVertical" matTableExporter #exporter="matTableExporter" class="mat-elevation-z8 trend-table">
              @for (it of displayedColumnsVertical; track it) {
                <ng-container matColumnDef={{it}}>
                  <th mat-header-cell *matHeaderCellDef> {{it}} </th>
                  <td mat-cell *matCellDef="let element"> {{element[it]}} </td>
                </ng-container>
              }
              <tr mat-header-row *matHeaderRowDef="displayedColumnsVertical"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsVertical;"></tr>
            </table>
          </div>
          <div>
            <button mat-icon-button (click)="exporter.exportTable('xlsx', {fileName: trendDabtorName+' - '+trendClientName+' - Trend'})">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </mat-card>
        
        <mat-card appearance="raised" class="mat-card-trend-chart">
          <div class="col-md-12">
            <select class="form-column-selection" [(ngModel)]="trendColumn" (change)="onTrendColumnChange()">
              <option value="Purchases">Purchases</option>
              <option value="PurchasesAvg">Average</option>
              <option value="PurchasesNo">Invoices</option>
              <option value="PaiTodZero">Paid to zero</option>
              <option value="Recoursed">Recoursed</option>
              <option value="AvgWeightedDays">Average Weighted Days</option>
            </select>
            
            <div style="width: 100%; height: 500px;">
              <canvas #trendBarChart></canvas>
            </div>
          </div>
        </mat-card> -->
      </div>
    </mat-tab>
    <mat-tab label="Aging">
      <div class="aging-tab">
        <div class="dialog-content">
          
          <div class="filter-container">
            <mat-form-field appearance="outline" class="debtor-filter">
              <mat-label>Filter by Debtor</mat-label>
              <mat-select [(ngModel)]="AgingTabSelectedDebtor" (selectionChange)="onAgingTabFilterChange()">
                <mat-option value="">All Debtors</mat-option>
                <mat-option *ngFor="let debtor of AgingTabDebtorList" [value]="debtor">
                  {{ debtor }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="status-filter">
              <mat-label>Filter by Invoice Status</mat-label>
              <mat-select [(ngModel)]="AgingTabSelectedStatuses" multiple (selectionChange)="onAgingTabFilterChange()">
                <mat-option *ngFor="let status of AgingTabStatusList" [value]="status">
                  {{ status }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- two text feild for showing total numbers -->
            <div class="totals-display">
              <div class="total-invoices">
                <b>Total Balance: </b>{{ totalBalance || 'N/A' }}
              </div>
              <div class="total-balance">
                <b>Balance shown: </b>{{ balanceShown || 'N/A' }}
              </div>
            </div>
          </div>

          <div class="main-table-container">
            <table mat-table [dataSource]="statementsDataSource" multiTemplateDataRows matSort class="aging-tab-table">

              <ng-container matColumnDef="Debtor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Debtor</th>
                <td mat-cell *matCellDef="let element">{{ element.DtrName }}</td>
              </ng-container>

              <ng-container matColumnDef="Client">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor/Carrier</th>
                <td mat-cell *matCellDef="let element">{{ element.CliName }}</td>
              </ng-container>

              <ng-container matColumnDef="PO/LOAD">
                <th mat-header-cell *matHeaderCellDef>PO/Load#</th>
                <td mat-cell *matCellDef="let element">{{ element.PurchOrd }}</td>
              </ng-container>

              <ng-container matColumnDef="Invoice#">
                <th mat-header-cell *matHeaderCellDef>Invoice#</th>
                <td mat-cell *matCellDef="let element" class="invoiceNumberClickable" (click)="clickInvoiceNumber(element)">{{ element.InvNo }}</td>
              </ng-container>

              <ng-container matColumnDef="InvDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
                <td mat-cell *matCellDef="let element">{{ element.InvDate | date:"MM/dd/yyyy" }}</td>
              </ng-container>

              <ng-container matColumnDef="Age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
                <td mat-cell *matCellDef="let element">{{ element.Age }}</td>
              </ng-container>

              <ng-container matColumnDef="Currency">
                <th mat-header-cell *matHeaderCellDef>Currency</th>
                <td mat-cell *matCellDef="let element">{{ element.CurrencyType }}</td>
              </ng-container>

              <ng-container matColumnDef="Amt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.Amt | number:'1.2-2' }}</td>
              </ng-container>

              <ng-container matColumnDef="Balance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
                <td mat-cell *matCellDef="let element">{{ element.Balance | number:'1.2-2' }}</td>
              </ng-container>
              
              <!-- <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">{{ element.Status }}</td>
              </ng-container> -->

              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef class="expand-column"></th>
                <td mat-cell *matCellDef="let element" class="expand-column">
                  <span (click)="toggleRow(element)">
                    <mat-icon onMouseOver="this.style.cursor='pointer'" style="height: 20px; width: 20px; font-size: 20px;">{{ isExpanded(element) ?
                      'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                  </span>
                </td>
              </ng-container>

              <tr mat-header-row class="mat-header-row" *matHeaderRowDef="statementsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: statementsColumns;" class="element-row"></tr>

              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="statementsColumns.length">
                  <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">
                    <b>Note: </b> {{ element.LastNote }}
                  </div>
                </td>
              </ng-container>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" class="detail-row">
              </tr>
            </table>
          </div>
          <div class="totals-display">
            <div class="total-quantity">
              <b>Total Quantity Shown: </b>{{ totalQuantityShown }}
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div *ngIf="data.addNew">
  <div class="dialog-header">
    <h3 mat-dialog-title>Create New Request</h3>
  </div>
  <form [formGroup]="addNewTicketForm" (ngSubmit)="onCreateTicket()">
    <div class="dialog-content">
      <mat-dialog-content>
        <div class="row" style="padding-top: 5px;">
          <div class="col-md-6">
            <label for="Client" class="form-label">Client</label>
            <input type="text" id="Client" class="form-control" formControlName="Client" placeholder="N/A">
          </div>
          <div class="col-md-6">
            <label for="Debtor" class="form-label">Debtor</label>
            <input type="text" id="Debtor" class="form-control" formControlName="Debtor" placeholder="N/A">
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-md-6">
            <label for="RequestAmt" class="form-label">Request Amount</label>
            <input type="text" id="RequestAmt" class="form-control" formControlName="RequestAmt" placeholder="N/A">
          </div>
          <div class="col-md-6">
            <label for="Comments" class="form-label">Comments</label>
            <input type="text" id="Comments" class="form-control" formControlName="Comments" placeholder="N/A">
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-md-6">
            <label for="SourceCode" class="form-label">Source Code</label>
            <input type="text" id="SourceCode" class="form-control" formControlName="SourceCode" placeholder="N/A">
          </div>
          <div class="col-md-6">
            <label for="ReqContactKey" class="form-label">Request Contact</label>
            <input type="text" id="ReqContactKey" class="form-control" formControlName="ReqContactKey"
              placeholder="N/A">
          </div>
        </div>
      </mat-dialog-content>
    </div>
    <div class="dialog-footer">
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit">Save</button>
      </mat-dialog-actions>
    </div>
  </form>
</div>