.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
.table-container {
    overflow: auto;
}   

.example-container {
    height: 800px;
    overflow: auto;
  }


.element-row {
    cursor: pointer;
   }
   .detail-row {
    height: 0;
   }
   .detail-row .example-element-detail {
    padding: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
   }
   
 .bordered-table {

  width: 100%;

  border-collapse: collapse;

}

.bordered-table th, .bordered-table td {

  border: 1px solid #ddd;

  padding: 8px;

}

.bordered-table th {

  background-color: #f2f2f2;

  text-align: left;

}

.header-row {

  background-color: #f9f9f9;

}

.cell {

  text-align: center;

}