
<div class="example-container mat-elevation-z8" tabindex="0">                            
    <div class="main-table-container">    
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">
        
        <ng-container matColumnDef="Debtor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">Master Debtor</th>
            <td mat-cell *matCellDef="let element" title="{{ element.Debtor }}">{{ element.Debtor }}</td>
        </ng-container>

        <ng-container matColumnDef="DbDunsNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Duns</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.DbDunsNo }}</td>
        </ng-container>

        <ng-container matColumnDef="Currency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Currency</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.Currencytype }}</td>
        </ng-container>

        <ng-container matColumnDef="Balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Balance</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.Balance | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="TotalCreditLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Credit Limit</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.CreditLimit | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="AIG Coverage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">AIG Coverage</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.AIGLimit | roundThousands }}</td>
        </ng-container>
        
        <ng-container matColumnDef="%Utilized">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">% Utilized</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{  element.PctUtilized | percent: '1.0-0' }}</td>
        </ng-container>

        <ng-container matColumnDef="%% Verified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">% Verified</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;"></td>
        </ng-container>

        <ng-container matColumnDef="NOA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">NOA</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.NOA }}</td>
        </ng-container>
        
        <ng-container matColumnDef="Payments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Payments</th>
            <td mat-cell *matCellDef="let element" (click)="payments(element.DebtorKey)" style="color: #1473d1;  text-align: right;"><i class="fa fa-money-check" style="color: #3a8ada; text-align: right;"></i></td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>     

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">            
                <div style="padding-top: 10px; padding-bottom: 10px;">                                
                    <div style="background-color: #f5fbff;"> 
                        <table class="fixed-table-dilution" align="left">
                            <tr>
                                <th>Dilution</th>
                                <th>30</th>
                                <th>60</th>
                                <th>90</th>
                                <th>All</th>                                    
                            </tr>
                            <tr>
                                <td>Clients</td>
                                <td></td>
                                <td></td>
                                <td></td>                                    
                                <td></td>                                    
                            </tr>
                            <tr>
                                <td>All Clients</td>
                                <td></td>
                                <td></td>
                                <td></td>                                    
                                <td></td>                                    
                            </tr>
                        </table>                                                                            
                        <table class="fixed-table-terms" align="right">
                            <tr>
                                <th>Terms</th>
                                <th>1-30</th>
                                <th>31-60</th>
                                <th>61-90</th>
                                <th>91-120</th>
                                <th>121-up</th>                                    
                                <th>Portal</th>                                    
                                <th>Documents</th>                                    
                            </tr>
                            <tr>
                                <td>120</td>
                                <td>565,444</td>
                                <td>454,877</td>
                                <td>854,457</td>                                    
                                <td>54,8734</td>                                    
                                <td>33,4873</td>                                    
                                <td (click)="miscData(element.DebtorKey)" style="color: #1473d1;"><mat-icon style="font-size:22px;">account_circle</mat-icon></td>                                    
                                <td></td>                                    
                            </tr>                                
                        </table>                                                                                
                    </div>                    
                </div>                                      
            </td>            
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" id="detail-row" class="detail-row"></tr>
                                  
        </table>
    </div>
    
    <!-- <mat-paginator [length]="totalRecords" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25" showFirstLastButtons style="background-color: white;"></mat-paginator>
     <mat-form-field> 
        <mat-label>Go to page</mat-label> 
            <input matInput [(ngModel)]="specificPage" type="number" min="1" [max]="totalPages"> 
    </mat-form-field> 
    <button mat-raised-button (click)="goToPage()">Go</button> -->    
</div>