.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
.table-container {
    overflow: auto;
}   

.example-container {
    height: 840px;
    overflow: auto;
  }


.element-row {
    cursor: pointer;
   }

.detail-row {
  height: 0;
}
.detail-row .example-element-detail {
  padding: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.custom-spinner ::ng-deep .mat-spinner circle, .mat-progress-spinner circle {
  stroke: #b3e5fc; /* Change this to your desired color */
 }
 .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Adjust based on your table height */
  background-color: #f5f5f5; /* Soft background color */
 }