
<div class="example-container mat-elevation-z8" tabindex="0">                        
    <div class="page-header">
        <div>
            <p></p>
            <br>         
        </div>
        <div>
            <b style="font-family: Arial, Helvetica, sans-serif;">Search:</b>
            &nbsp;&nbsp;
            <input (keyup.enter)="applyFilter($event)" class="search-bar">
        </div>
    </div>       
    
    <div class="main-table-container">    
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="toggleRow(element)">
                        <mat-icon>{{ isExpanded(element) ? 'remove' : 'add' }}</mat-icon>
                    </button>
                    &nbsp;&nbsp;
                </td>
        </ng-container>
        
        <ng-container matColumnDef="Debtor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Debtor Name</th>
            <td style="font-weight: Medium;" mat-cell *matCellDef="let element">{{ element.Debtor }}</td>
        </ng-container>

        <ng-container matColumnDef="DbDunsNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Duns</th>
            <td mat-cell *matCellDef="let element">{{ element.DbDunsNo }}</td>
        </ng-container>

        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td mat-cell *matCellDef="let element">{{ element.Addr1 }} , {{ element.Addr2 }}</td>
        </ng-container>

        <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
            <td mat-cell *matCellDef="let element">{{ element.City }}</td>
        </ng-container>

        <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
            <td mat-cell *matCellDef="let element">{{ element.State }}</td>
        </ng-container>        

        <ng-container matColumnDef="%Utilized">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>% Utilized</th>
            <td mat-cell *matCellDef="let element">{{  element.PctUtilized | percent: '1.0-0' }}</td>
        </ng-container>

        <ng-container matColumnDef="PastDue%">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Past Due%</th>
            <td mat-cell *matCellDef="let element">{{ element.PastDuePct | percent: '1.0-0' }}</td>
        </ng-container>

        <ng-container matColumnDef="DSO">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>DSO</th>
           <td mat-cell *matCellDef="let element">
               <mat-icon [ngStyle]="{'color': getIcon(element).color}">{{ getIcon(element).icon }}</mat-icon>
           </td>
        </ng-container>

        <ng-container matColumnDef="TotalCreditLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">CreditLimit</th>            
            <td mat-cell *matCellDef="let element">                
                <ng-container *ngIf="!element.editing">
                        {{ element.TotalCreditLimit | roundThousands }}
                </ng-container>
                <ng-container *ngIf="element.editing">
                <input type="text" [(ngModel)]="element.TotalCreditLimit">
                </ng-container>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="TotalCreditLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%;">CreditLimit</th>
            <td mat-cell *matCellDef="let element; let i = index">
            <ng-container *ngIf="isEditModeOn(element); else displayTotalCreditLimit">
            <input matInput style="width: 85%;" [(ngModel)]="element.TotalCreditLimit">
            </ng-container>
            <ng-template #displayTotalCreditLimit>{{ element.TotalCreditLimit | roundThousands }}</ng-template>
            </td>
        </ng-container>
         
        <ng-container matColumnDef="AIGLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AIGLimit</th>
            <td mat-cell *matCellDef="let element">{{ element.AIGLimit | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Terms">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Terms</th>
            <td mat-cell *matCellDef="let element">{{ element.Terms }}</td>
        </ng-container>

        <ng-container matColumnDef="NoBuyCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">Account Status</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.NoBuyCode == ''"  style="color: green; font-size: 10px;">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>  
                <div *ngIf="element.NoBuyCode == 'HELD -  ACCOUNT TEMPORARILY ON HOLD'" style="color: orange; font-size: 10px;">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>                  
                <div *ngIf="element.NoBuyCode != '' && element.NoBuyCode != 'HELD -  ACCOUNT TEMPORARILY ON HOLD'" style="color: red; font-size: 10px;">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>                  
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="NoBuyCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">Account Status</th>            
            <td mat-cell *matCellDef="let element; let i = index">
                <ng-container *ngIf="isEditModeOn(element); else displayNoBuyCode">
                    <select name="NoBuyCode" class="dropdown" [(ngModel)]="element.NoBuyCode">
                        <option *ngFor="let disputeCode of DebtoNoBuyDisputeList" [value]="disputeCode.DisputeCodeKey" [selected]="disputeCode.DisputeCode">{{ disputeCode.DisputeCode }}</option>
                    </select>
                </ng-container>                                                             
                <ng-template #displayNoBuyCode>{{ element.NoBuyCode }}</ng-template>                                                   
            </td>
        </ng-container>

         <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef style="width: 8%;">Action</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <button mat-icon-button *ngIf="!isEditModeOn(element)" (click)="startEdit(element, i)" style="color: #1473d1;" title="Edit"><mat-icon>edit</mat-icon></button>                        
                <button mat-icon-button  style="color: #1473d1;" *ngIf="isEditModeOn(element)" (click)="saveRow(element, i)" title="Save">
                <mat-icon>save</mat-icon>
                </button>            
                <button mat-icon-button style="color:#bc0d0d;" *ngIf="isEditModeOn(element)" (click)="cancelEdit(element)" title="Cancel">
                <mat-icon>cancel</mat-icon>
                </button>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef style="width: 8%;">Action</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <button mat-icon-button (click)="edit(element)" style="color: #1473d1; font-size: 16px" title="Edit"><i class="fa fa-edit"></i></button>                        
            </td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">            
                <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">                                
                    <div class="table-container" style="background-color: #f5fbff;">                            
                        <table class="bordered-table">
                            <tr>
                                <th class="header" style="width: 10%;">Total AR</th>
                                <th class="header" style="width: 10%;">0-30</th>
                                <th class="header" style="width: 10%;">31-60</th>
                                <th class="header" style="width: 10%;">61-90</th>
                                <th class="header" style="width: 10%;">91-120</th>
                                <th class="header" style="width: 10%;">121-150</th>
                                <th class="header" style="width: 10%;">151-180</th>
                                <th class="header" style="width: 10%;">180+</th>
                                <th class="header" style="width: 5%;">DSO30</th>
                                <th class="header" style="width: 5%;">DSO60</th>
                                <th class="header" style="width: 5%;">DSO90</th>
                                <th class="header" style="width: 5%;">DSOAll</th>              
                            </tr>                               
                            <tr class="table-row">
                                <td class="cell" style="width: 10%;">{{ element.Balance | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age0to30 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age31to60 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age61to90 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age91to120 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age121to150 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age151to180 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.AgeOver180 | roundThousands }}</td>
                                <td class="cell" style="width: 5%;">{{ math.round(element.DSO30) }}</td>
                                <td class="cell" style="width: 5%;">{{ math.round(element.DSO60) }}</td>
                                <td class="cell" style="width: 5%;">{{ math.round(element.DSO90) }}</td>
                                <td class="cell" style="width: 5%;">{{ math.round(element.DSOAll) }}</td>                                                        
                            </tr>                                
                        </table>
                        <table class="bordered-table">                                                       
                            <tr>
                                <th class="header" style="width: 10%;">C/L</th>                                                                    
                                <th class="header" style="width: 10%;">Skipped Invoices</th>                                        
                                <th class="header" style="width: 12%;"># of Outstanding Invoices</th>                                 
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="table-row">
                                <td class="cell" style="width: 10%;">{{ element.TotalCreditLimit | roundThousands }}</td>                                                                    
                                <td class="cell" style="width: 10%;">-</td>                                  
                                <td class="cell" style="width: 12%;">{{ element.NoInvoices }}</td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>                                    
                                <td class="cell"></td>
                                <td class="cell"></td>                                    
                            </tr>
                        </table>
                        <table class="bordered-table">                                                                                
                            <tr>
                                <th class="header" style="width: 20%;">Email</th>
                                <th class="header" style="width: 10%;">Phone1</th>
                                <th class="header" style="width: 10%;">Phone2</th>
                                <th class="header" style="width: 10%;">Documents</th>
                                <th class="header" style="width: 20%;">Warning</th>                                    
                                <th class="header" style="width: 30%;"></th>                                    
                            </tr>                                
                            <tr> 
                                <td>{{ element.Email }}</td>                                  
                                <td><a href="tel:{{ element.Phone1 }}"> {{ element.Phone1 }}</a></td>                                    
                                <td><a href="tel:{{ element.Phone2 }}">{{ element.Phone2 }}</a></td>                                    

                                <td class="cell" (click)="openDocumentsDialog(element.DebtorKey)"><i class="fa fa-file" style="color: #3a8ada;"></i></td>
                                <td class="cell">{{ element.Warning }}</td>
                                <td class="cell" (click)="openDebtorContactsDialog(element.DebtorKey)"style="color: #005cbb; cursor: pointer; font-weight: Medium;">Debtor Contacts</td>
                            </tr>                               
                        </table>                            
                    </div> 
                    <br>
                    <app-members [DebtorKey]="element.DebtorKey"></app-members>                   
                </div>                                      
            </td>            
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" id="detail-row" class="detail-row"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="totalRecords" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25" showFirstLastButtons style="background-color: white;"></mat-paginator>
    <!-- <mat-form-field> 
        <mat-label>Go to page</mat-label> 
            <input matInput [(ngModel)]="specificPage" type="number" min="1" [max]="totalPages"> 
    </mat-form-field> 
    <button mat-raised-button (click)="goToPage()">Go</button> -->

    <div class="spinner-container" *ngIf="isLoading;">
        <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
</div>
