
<div class="example-container mat-elevation-z8" tabindex="0">                        
    <div class="page-header">
        <div>
            <p></p>
            <br>         
        </div>
        <div>
            <label>
                <input type="radio" name="filterByBalance" value="Show All" (change)="onChange($event)" [attr.checked]="true">&nbsp; <b>Show All</b>
              </label>&nbsp;
              <label>
                <input type="radio" name="filterByBalance" value="Balance" (change)="onChange($event)"> &nbsp;<b>Balance</b> 
              </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <b style="font-family: Arial, Helvetica, sans-serif;">Search:</b>
            &nbsp;&nbsp;
            <input name="searchBar" (keyup.enter)="applyFilter($event)" class="search-bar">
        </div>
    </div>       
    
    <div class="main-table-container" *ngIf="this.NavOptionMasterDebtor == 'Master Debtor' && this.NavAccessMasterDebtor == 1">    
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef class="expand-column"></th>
            <td mat-cell *matCellDef="let element" class="expand-column">
                <span (click)="toggleRow(element)">                        
                    <mat-icon style="height: 20px; width: 20px; font-size: 20px;">{{ isExpanded(element) ? 'remove' : 'add' }}</mat-icon>
                </span>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="Debtor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="debtor-column">Debtor Name</th>
            <td style="font-weight: Medium;" mat-cell *matCellDef="let element" class="debtor-column">
                <div *ngIf="element.NoBuyCode == ''" >
                    <i class="fa fa-circle" title="empty" style="color: green; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Debtor }}
                </div>  
                <div *ngIf="element.NoBuyCode == 'HELD -  ACCOUNT TEMPORARILY ON HOLD'">
                    <i class="fa fa-circle" title="{{ element.NoBuyCode }}" style="color: orange; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Debtor }}
                </div>                  
                <div *ngIf="element.NoBuyCode != '' && element.NoBuyCode != 'HELD -  ACCOUNT TEMPORARILY ON HOLD'">
                    <i class="fa fa-circle" title="{{ element.NoBuyCode }}" style="color: red; font-size: 10px;" aria-hidden="true"></i> &nbsp; {{ element.Debtor }}
                </div>                
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="DbDunsNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Duns</th>
            <td mat-cell *matCellDef="let element">{{ element.DbDunsNo }}</td>
        </ng-container> 

        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>            
            <td mat-cell *matCellDef="let element" title="{{ element.Addr1 }} , {{ element.Addr2 }}">
                <div *ngIf="element.Addr2 == ''">        
                    {{ element.Addr1 }}
                </div>
                <div *ngIf="element.Addr2 != ''">        
                    {{ element.Addr1 }} , {{ element.Addr2 }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
            <td mat-cell *matCellDef="let element">{{ element.City }}</td>
        </ng-container>

        <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
            <td mat-cell *matCellDef="let element">{{ element.State }}</td>
        </ng-container>  -->      

        <ng-container matColumnDef="Balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Total AR</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Balance | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="%Utilized">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Avg | % Utilized</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;"> | {{  element.PctUtilized | percent: '1.0-0' }}</td>
        </ng-container>

        <ng-container matColumnDef="PastDue%">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Past Due%</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.PastDuePct | percent: '1.0-0' }}</td>
        </ng-container>

        <ng-container matColumnDef="DSO">
           <th mat-header-cell *matHeaderCellDef  mat-sort-header arrowPosition="before">DSO</th>
           <td mat-cell *matCellDef="let element" style="text-align: end;">
               <mat-icon [ngStyle]="{'color': getIcon(element).color}">{{ getIcon(element).icon }}</mat-icon>
           </td>
        </ng-container>

        <ng-container matColumnDef="TotalCreditLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">CreditLimit</th>            
            <td mat-cell *matCellDef="let element" style="text-align: end;">                
                <ng-container *ngIf="!element.editing">
                        {{ element.TotalCreditLimit | roundThousands }}
                </ng-container>
                <ng-container *ngIf="element.editing">
                <input type="text" [(ngModel)]="element.TotalCreditLimit">
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="IndivCreditLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before" matTooltip="Single credit limit">S.C. Limit</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.IndivCreditLimit | roundThousands }}</td>
        </ng-container>
        
        <!-- <ng-container matColumnDef="TotalCreditLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%;">CreditLimit</th>
            <td mat-cell *matCellDef="let element; let i = index">
            <ng-container *ngIf="isEditModeOn(element); else displayTotalCreditLimit">
            <input matInput style="width: 85%;" [(ngModel)]="element.TotalCreditLimit">
            </ng-container>
            <ng-template #displayTotalCreditLimit>{{ element.TotalCreditLimit | roundThousands }}</ng-template>
            </td>
        </ng-container> -->
         
        <ng-container matColumnDef="AIGLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">AIGLimit</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.AIGLimit | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Terms">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Terms</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.Terms }}</td>
        </ng-container>

        <ng-container matColumnDef="CalcRateCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Rating</th>
            <td mat-cell *matCellDef="let element" style="text-align: end; color: #3a8ada;" (click)="openDSODialog(element.DSO30, element.DSO60, element.DSO90, element.Debtor)">{{ element.CalcRateCode }}</td>
        </ng-container>        

        <ng-container matColumnDef="CredExpireDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">CredExpireDate</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.CredExpireDate | date:'yyyy-MM-dd' }}</td>
        </ng-container>

        <ng-container matColumnDef="RateDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Research Date</th>
            <td mat-cell *matCellDef="let element" style="text-align: end;">{{ element.RateDate | date:'yyyy-MM-dd' }}</td>
        </ng-container>        

        <!-- <ng-container matColumnDef="NoBuyCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">Account Status</th>            
            <td mat-cell *matCellDef="let element; let i = index">
                <ng-container *ngIf="isEditModeOn(element); else displayNoBuyCode">
                    <select name="NoBuyCode" class="dropdown" [(ngModel)]="element.NoBuyCode">
                        <option *ngFor="let disputeCode of DebtoNoBuyDisputeList" [value]="disputeCode.DisputeCodeKey" [selected]="disputeCode.DisputeCode">{{ disputeCode.DisputeCode }}</option>
                    </select>
                </ng-container>                                                             
                <ng-template #displayNoBuyCode>{{ element.NoBuyCode }}</ng-template>                                                   
            </td>
        </ng-container>

         <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef style="width: 8%;">Action</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <button mat-icon-button *ngIf="!isEditModeOn(element)" (click)="startEdit(element, i)" style="color: #1473d1;" title="Edit"><mat-icon>edit</mat-icon></button>                        
                <button mat-icon-button  style="color: #1473d1;" *ngIf="isEditModeOn(element)" (click)="saveRow(element, i)" title="Save">
                <mat-icon>save</mat-icon>
                </button>            
                <button mat-icon-button style="color:#bc0d0d;" *ngIf="isEditModeOn(element)" (click)="cancelEdit(element)" title="Cancel">
                <mat-icon>cancel</mat-icon>
                </button>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="Edit" *ngIf="this.NavOptionUpdateMasterDebtor == 'Update Master Debtor' && this.NavAccessUpdateMasterDebtor == 1">
            <th mat-header-cell *matHeaderCellDef style="text-align: end;">Edit</th>
            <td mat-cell *matCellDef="let element; let i = index" style="text-align: end;">
                <span (click)="edit(element)">                        
                    <mat-icon style="height: 20px; width: 20px; font-size: 15px; color: #3a8ada;"><i class="fa fa-edit"></i></mat-icon>
                </span>                     
            </td>
        </ng-container>

        <ng-container matColumnDef="Edit" *ngIf="this.NavOptionUpdateMasterDebtor == 'Update Master Debtor' && this.NavAccessUpdateMasterDebtor == 0">
            <th mat-header-cell *matHeaderCellDef style="text-align: end;"></th>
            <td mat-cell *matCellDef="let element; let i = index" style="text-align: end;">                                       
            </td>
        </ng-container>

        <ng-container matColumnDef="extra">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="text-align: end; color: white">...</td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">            
                <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">                                
                    <div class="table-container" style="background-color: #f5fbff;">                            
                        <table class="bordered-table">
                            <tr>                                
                                <th class="header" style="width: 10%;">Total AR</th>
                                <th class="header" style="width: 10%;">0-30</th>
                                <th class="header" style="width: 10%;">31-60</th>
                                <th class="header" style="width: 10%;">61-90</th>
                                <th class="header" style="width: 10%;">91-120</th>
                                <th class="header" style="width: 10%;">121-150</th>                                                               
                                <th class="header" style="width: 10%;">DSO30</th>
                                <th class="header" style="width: 10%;">DSO60</th>
                                <th class="header" style="width: 10%;">DSO90</th>
                                <th class="header" style="width: 10%;">DSOAll</th>               
                            </tr>                               
                            <tr class="table-row">
                                <td class="cell" style="width: 10%; color: #3a8ada;" (click)="openDebtorStatementsDialog(element.DebtorKey)">{{ element.Balance | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age0to30 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age31to60 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age61to90 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age91to120 | roundThousands }}</td>
                                <td class="cell" style="width: 10%;">{{ element.Age121to150 | roundThousands }}</td>                                
                                <td class="cell" style="width: 10%;">{{ math.round(element.DSO30) }}</td>
                                <td class="cell" style="width: 10%;">{{ math.round(element.DSO60) }}</td>
                                <td class="cell" style="width: 10%;">{{ math.round(element.DSO90) }}</td>
                                <td class="cell" style="width: 10%;">{{ math.round(element.DSOAll) }}</td>  
                                                                                        
                            </tr>                                
                        </table>
                        <table class="bordered-table">                                                       
                            <tr>
                                <th class="header" style="width: 10%;">C/L</th>                                                                    
                                <th class="header" style="width: 10%;">Held Invoices</th>                                        
                                <th class="header" style="width: 20%;"># of Outstanding Invoices</th>                                 
                                <th class="header" style="width: 10%;">Last Payment Date</th>
                                <th class="header" style="width: 10%;">Dispute %</th>
                                <th class="header" style="width: 10%;">Audit</th>
                                <th class="header" style="width: 20%;">Address</th>
                                <th class="header" style="width: 20%;">Alternate address</th>
                            </tr>
                            <tr class="table-row">
                                <td class="cell" style="width: 10%;">{{ element.TotalCreditLimit | roundThousands }}</td>                                                                    
                                <td class="cell" style="width: 10%;">{{ element.SkippedInvoices }}</td>                                  
                                <td class="cell" style="width: 20%;">{{ element.NoInvoices }}</td>
                                <td class="cell" style="width: 10%; color: #3a8ada;" (click)="openChecqueSearchDialog(element.DebtorKey)">{{ element.LastPmtDate | date:"MM/dd/yyyy" }}</td>
                                <td class="cell" style="width: 10%;">{{ element.DisputesPct | roundThousands }}</td>
                                <td class="cell" style="width: 10%;" (click)="openDebtorAuditDialog(element.DebtorKey)"><i class="fa-solid fa-list-check" style="color: #3a8ada;"></i></td>
                                <td class="cell" style="width: 20%;">{{ element.Addr1 }}</td>                                    
                                <td class="cell" style="width: 20%;">{{ element.Addr2 }}</td>                                                                    
                            </tr>
                        </table>
                        <table class="bordered-table">                                                                                
                            <tr>
                                <th class="header" style="width: 20%;">Email</th>
                                <th class="header" style="width: 10%;">Phone1</th>
                                <th class="header" style="width: 10%;">Phone2</th>
                                <th class="header" style="width: 10%;">Documents</th>
                                <th class="header" style="width: 20%;">Warning</th>                                    
                                <th class="header" style="width: 10%;">Duns</th>                                    
                                <th class="header" style="width: 10%;">MC#</th>                                    
                                <th class="header" style="width: 10%;"></th>                                    
                            </tr>                                
                            <tr> 
                                <td>{{ element.Email }}</td>                                  
                                <td><a href="tel:{{ element.Phone1 }}"> {{ element.Phone1 }}</a></td>                                    
                                <td><a href="tel:{{ element.Phone2 }}">{{ element.Phone2 }}</a></td>                                    

                                <td class="cell" (click)="openDocumentsDialog(element.DebtorKey)"><i class="fa fa-file" style="color: #3a8ada;"></i></td>
                                <td class="cell">{{ element.Warning }}</td>
                                <td class="cell">{{ element.DbDunsNo }}</td>
                                <td class="cell">{{ element.MotorCarrNo }}</td>
                                <td class="cell" (click)="openDebtorContactsDialog(element.DebtorKey)" style="color: #005cbb; cursor: pointer; font-weight: Medium;">Debtor Contacts</td>
                            </tr>                               
                        </table>                            
                    </div> 
                    <br>
                    <app-members [DebtorKey]="element.DebtorKey"></app-members>                   
                </div>                                      
            </td>            
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" id="detail-row" class="detail-row"></tr>
        </table>
    </div>
    
    <!-- <mat-form-field> 
        <mat-label>Go to page</mat-label> 
        <input matInput [(ngModel)]="specificPage" type="number" min="1" [max]="totalPages"> 
    </mat-form-field> 
    <button mat-raised-button (click)="goToPage()">Go</button> -->
    
    <mat-paginator [length]="totalRecords" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25" showFirstLastButtons style="background-color: white;"></mat-paginator>
    <div class="spinner-container" *ngIf="isLoading;">
        <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
</div>
