
<div class="example-container mat-elevation-z8" tabindex="0">                        
    <div class="table-container" style="background-color: #f5fbff;">                            
        <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">
            <ng-container matColumnDef="Client">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50%; padding-top:10px; padding-left: 15px;" >Member Clients</th>
                <td mat-cell *matCellDef="let memberElement">{{ memberElement.Client }}</td>
            </ng-container>
            <ng-container matColumnDef="CreditLimit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;" arrowPosition="before">CreditLimit</th>
                <td mat-cell *matCellDef="let memberElement" style="text-align: right;">{{ memberElement.CreditLimit | roundThousands }}</td>
            </ng-container>
            <ng-container matColumnDef="CreditUtilization">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 22%;" arrowPosition="before">CreditUtilization</th>
                <td mat-cell *matCellDef="let memberElement" style="text-align: right;">0</td>
            </ng-container><br>
            <ng-container matColumnDef="dsc">                                    
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50%;"></th>
                <td mat-cell *matCellDef="let memberElement">
                    <table class="fixed-table">
                        <tr>
                            <th></th>
                            <th>MTD</th> 
                            <th>Last 30</th>                                    
                            <th>Last 60</th>                                    
                            <th>Last 90</th>
                        </tr>
                        <tr>
                            <td><b>Dilution %</b></td>
                            <td>{{ memberElement.Dillution60 }}</td>
                            <td>{{ memberElement.Dillution30 }}</td>
                            <td>{{ memberElement.Dillution90 }}</td>
                            <td>{{ memberElement.Dillution180 }}</td>
                        </tr>
                        
                        <tr>
                            <td><b>Sales</b></td>
                            <td>{{ memberElement.Sales30 | roundThousands }}</td>
                            <td>{{ memberElement.Sales60 | roundThousands }}</td>
                            <td>{{ memberElement.Sales90 | roundThousands }}</td>
                            <td>{{ memberElement.Sales180 | roundThousands }}</td>
                        </tr>
                        
                        <tr>
                            <td><b>Collection</b></td>
                            <td>{{ memberElement.Collections30 | roundThousands }}</td>
                            <td>{{ memberElement.Collections60 | roundThousands }}</td>
                            <td>{{ memberElement.Collections90 | roundThousands }}</td>
                            <td>{{ memberElement.Collections180 | roundThousands }}</td>
                        </tr>

                        <tr>
                            <td><b>Avg Inv Amt</b></td>
                            <td>{{ memberElement.AvgInvAmt30 | roundThousands }}</td>
                            <td>{{ memberElement.AvgInvAmt60 | roundThousands }}</td>
                            <td>{{ memberElement.AvgInvAmt90 | roundThousands }}</td>
                            <td>{{ memberElement.AvgInvAmt180 | roundThousands }}</td>
                        </tr>

                        <tr>
                            <td><b>Avg NFE</b></td>
                            <td>{{ memberElement.AvgNFE30 | roundThousands }}</td>
                            <td>{{ memberElement.AvgNFE60 | roundThousands }}</td>
                            <td>{{ memberElement.AvgNFE90 | roundThousands }}</td>
                            <td>{{ memberElement.AvgNFE180 | roundThousands }}</td>
                        </tr>
                    </table>
                </td>                                                     
            </ng-container>
            
            <ng-container matColumnDef="expandDebtor">
                <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let memberElement">
                        <button mat-icon-button (click)="toggleRow(memberElement)">
                            <mat-icon>{{ isExpanded(memberElement) ? 'remove' : 'add' }}</mat-icon>
                        </button>
                    </td>
            </ng-container>
            
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let memberElement" [attr.colspan]="displayedColumns.length" style="padding-left: 1%;">            
                    <div *ngIf="isExpanded(memberElement)">
                        <br>                                
                        <div class="table-container" style="background-color: #f5fbff;">                                                          
                            <app-clients-debtors [MasterClientKey]="memberElement.ClientKey"></app-clients-debtors>
                        </div>
                        <br>                    
                    </div>                                      
                </td>            
            </ng-container>
            <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns" style="background-color: #f5fbff;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" style="background-color: #f5fbff;"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" id="debtor-detail-row" class="debtor-detail-row"></tr>            
        </mat-table>                          
    </div>
    
    <!-- <div class="table-container">    
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-table">
        
        <ng-container matColumnDef="Client">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
            <td (click)="openClientsDebtorWindow(element.ClientKey)" style="color: #005cbb; cursor: pointer; font-weight: Medium;" mat-cell *matCellDef="let element"><u>{{ element.Client }}</u></td>
        </ng-container>

        <ng-container matColumnDef="Age0to30">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>1 - 30</th>
            <td mat-cell *matCellDef="let element">{{ element.Age0to30 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Age31to60">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>31 - 60</th>
            <td mat-cell *matCellDef="let element">{{ element.Age31to60 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Age61to90">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>61 - 90</th>
            <td mat-cell *matCellDef="let element">{{ element.Age61to90 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Age91to120">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>91 - 120</th>
            <td mat-cell *matCellDef="let element">{{ element.Age91to120 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Age121to150">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>121 - 150</th>
            <td mat-cell *matCellDef="let element">{{ element.Age121to150 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Age151to180">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>151 - 108</th>
            <td mat-cell *matCellDef="let element">{{ element.Age151to180 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="AgeOver180">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>181 - up</th>
            <td mat-cell *matCellDef="let element">{{ element.AgeOver180 | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
            <td mat-cell *matCellDef="let element">{{ element.Balance | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="Reserve">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reserve</th>
            <td mat-cell *matCellDef="let element">{{ element.Reserve }}</td>
        </ng-container>

        <ng-container matColumnDef="NFE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NFE</th>
            <td mat-cell *matCellDef="let element">{{ element.NFE | roundThousands }}</td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="toggleRow(element)">
                        <mat-icon>{{ isExpanded(element) ? 'remove' : 'add' }}</mat-icon>
                    </button>
                </td>
        </ng-container>

            <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">            
                    <div *ngIf="isExpanded(element)" style="padding-top: 10px; padding-bottom: 10px;">                                
                        <div class="table-container" style="background-color: #f5fbff;">                            
                            <table class="bordered-table">
                                <tr>                        
                                    <th class="header" style="width: 20%;">Credit Limit</th>                        
                                    <th class="header" style="width: 20%;">Credit Utilization</th>                        
                                    <th class="header" style="width: 20%;"></th>                        
                                    <th class="header" style="width: 10%;">30</th>                        
                                    <th class="header" style="width: 10%;">60</th>                        
                                    <th class="header" style="width: 10%;">90</th>                        
                                    <th class="header" style="width: 10%;">180</th>                        
                                </tr>                        
                                <tr class="table-row">                        
                                    <td class="cell" style="width: 20%;">-</td>                        
                                    <td class="cell" style="width: 20%;">-</td>                        
                                    <td class="cell" style="width: 20%;"></td>                        
                                    <td class="cell" style="width: 10%;">-</td>                        
                                    <td class="cell" style="width: 10%;">-</td>                        
                                    <td class="cell" style="width: 10%;">-</td>                        
                                    <td class="cell" style="width: 10%;">-</td>                        
                                </tr>                
                            </table>                            
                        </div>                    
                    </div>                                      
                </td>            
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" id="detail-row" class="detail-row"></tr>
        </table>
    </div> -->
    
    <!-- <mat-paginator [length]="totalRecords" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25" showFirstLastButtons style="background-color: white;"></mat-paginator>
     <mat-form-field> 
        <mat-label>Go to page</mat-label> 
            <input matInput [(ngModel)]="specificPage" type="number" min="1" [max]="totalPages"> 
    </mat-form-field> 
    <button mat-raised-button (click)="goToPage()">Go</button> 

    <div class="spinner-container" *ngIf="isLoading;">
        <mat-spinner class="custom-spinner"></mat-spinner>
    </div> -->
</div>