body {
    background: linear-gradient(45deg, #a0a0b6, #3a3b68);
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
   }
   a {
    color: #fff;
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
