.LOR-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

mat-form-field {
  width: 400px;
}

mat-label {
  font-weight: bold;
}

.buttons-in-row {
  display: flex;
  gap: 16px; /* Space between buttons */
  justify-content: flex-start; /* Align buttons to the left */
  margin-top: 16px; /* Add some spacing above the buttons */
}

.inline-radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.inline-radio-group p {
  margin-right: 16px;
  margin-bottom: 0;
  min-width: 170px;
}

.inline-radio-group mat-radio-button {
  margin-right: 16px;
}